<form class="dialog">
    <h2>{{name}}</h2>
    <div class="flex-row">
        <hr class="dialog-section-before"><div class="dialog-section-text">Obstacle</div><hr class="dialog-section-after">
        <div class="flex-row dialog-row">
            <label>Difficulty</label>
            <input type="number" class="exponent" name="difficulty" value="{{difficulty}}">
        </div>
        {{#if obPenalty}}
        <div class="flex-row dialog-row">
            <label>Wound Penalty</label>
            <input type="number" class="exponent" disabled name="obPenalty" value="{{obPenalty}}">
        </div>
        {{/if}}
        {{#each obModifiers as |mod|}}
        <div class="flex-row dialog-row">
            <label>{{mod.label}}</label>
            <input type="checkbox" class="hidden" name="miscObs" checked value="{{mod.obstacle}}" data-name="{{mod.label}}">
            <input type="number" class="exponent" disabled value="{{mod.obstacle}}">
        </div>
        {{/each}}
    </div>
    <div class="flex-row">
        <hr class="dialog-section-before"><div class="dialog-section-text">Dice</div><hr class="dialog-section-after">
        <div class="flex-row dialog-row">
            <label>Exponent</label>
            <input type="number" class="exponent" disabled name="skill.exp" value="{{skill.exp}}">
        </div>
        {{#if woundDice}}
        <div class="flex-row dialog-row">
            <label>Wound Penalty</label>
            <input type="number" class="exponent" disabled name="woundDice" value="{{woundDice}}">
        </div>
        {{/if}}
        {{#each diceModifiers as |mod|}}
        <div class="flex-row dialog-row">
            <label>{{mod.label}}</label>
            <input type="checkbox" class="hidden" name="miscDice" checked value="{{mod.dice}}" data-name="{{mod.label}}">
            <input type="number" class="exponent" disabled value="{{mod.dice}}">
        </div>
        {{/each}}
        <div class="flex-row dialog-row">
            <label>Bonus Dice</label>
            <input type="number" class="exponent" name="bonusDice" value="{{bonusDice}}">
        </div>
        <div class="flex-row dialog-row">
            <label>Artha Dice</label>
            <input type="number" class="exponent" name="arthaDice" value="{{arthaDice}}">
        </div>
    </div>
    {{#if offerSplitPool}}
    <div class="flex-row">
        <hr class="dialog-section-before"><div class="dialog-section-text">Secondary Pool</div><hr class="dialog-section-after">
        <div class="flex-row dialog-row">
            <label>Secondary Pool</label>
            <input type="number" class="exponent no-arrows" name="splitPool" value="0">
        </div>
        <div class="dialog-row">
            Split some dice into a secondary pool. These are subtracted from the total rolled.
        </div>
    </div>
    {{/if}}
    {{#if forkOptions}}
    <div class="flex-row">
        <hr class="dialog-section-before"><div class="dialog-section-text">FoRKs</div><hr class="dialog-section-after">
        <div class="checkbox-grid">
            {{#each forkOptions as |skill|}}
                <input id="checkbox-fork-{{@key}}" type="checkbox" name="forkOptions" value="{{skill.amount}}">
                <label for="checkbox-fork-{{@key}}">{{skill.name}}</label>
            {{/each}}
        </div>
    </div>
    {{/if}}
    {{#if needsToolkit}}
    <div class="flex-row">
        <hr class="dialog-section-before"><div class="dialog-section-text">Tools</div><hr class="dialog-section-after">
        <div class="flex-row">
            <div class="checkbox-grid half-width">
                <input id="checkbox-tool-penalty" type="checkbox" name="toolPenalty" value="1">
                <label for="checkbox-tool-penalty">No Tools Penalty</label>
            </div>
            <div class="flex-row dialog-row">
                <label for="select-toolkit" name="toolkit">Expend Toolkit?</label>
                <select id="select-toolkit" name="toolkitId">
                    <option value="">None</option>
                    {{#each toolkits as |t|}}
                    <option value="{{t._id}}">{{t.name}}{{#if t.data.isExpended}} (Expended){{/if}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </div>
    {{/if}}
    {{#if wildForks}}
    <div class="flex-row">
        <hr class="dialog-section-before"><div class="dialog-section-text">Wild FoRKs</div><hr class="dialog-section-after">
        <div class="checkbox-grid">
            {{#each wildForks as |skill|}}
                <input id="checkbox-wild-{{@key}}" type="checkbox" name="wildForks" value="{{skill.amount}}">
                <label for="checkbox-wild-{{@key}}">{{skill.name}}</label>
            {{/each}}
        </div>
    </div>
    {{/if}}
    {{#if optionalDiceModifiers}}
    <div class="flex-row">
        <hr class="dialog-section-before"><div class="dialog-section-text">Optional Dice Modifiers</div><hr class="dialog-section-after">
        <div class="checkbox-grid">
            {{#each optionalDiceModifiers as |mod|}}
            <input id="checkbox-{{@key}}-die" type="checkbox" name="miscDice" value="{{mod.dice}}" data-name="{{mod.label}}">
            <label for="checkbox-{{@key}}-die">{{mod.label}}</label>
            {{/each}}
        </div>
    </div>
    {{/if}}
    {{#if optionalObModifiers}}
    <div class="flex-row">
        <hr class="dialog-section-before"><div class="dialog-section-text">Optional Obstacle Modifiers</div><hr class="dialog-section-after">
        <div class="checkbox-grid">
            {{#each optionalObModifiers as |mod|}}
            <input id="checkbox-{{@key}}-ob" type="checkbox" name="miscObs" value="{{mod.obstacle}}" data-name="{{mod.label}}">
            <label for="checkbox-{{@key}}-ob">{{mod.label}}</label>
            {{/each}}
        </div>
    </div>
    {{/if}}
</form>