<form class="flex-row" autocomplete="off">
    {{#if gmView}}
    <div class="control-grid">
        <button class="control-button" data-action="clearAll">Clear All</button>
        <button class="control-button" data-action="resetRound">Reset Round</button>
    </div>
    {{/if}}
    <div class="volley-description">
        {{#if gmView}}
        <div>Fighters</div>
        <div class="pill-toggle">
            <input type="checkbox" name="showV1" id="showV1" {{checked showV1}}>
            <label for="showV1">Show Volley 1</label>
        </div>
        <div class="pill-toggle">
            <input type="checkbox" name="showV2" id="showV2" {{checked showV2}}>
            <label for="showV2">Show Volley 2</label>
        </div>
        <div class="pill-toggle">
            <input type="checkbox" name="showV3" id="showV3" {{checked showV3}}>
            <label for="showV3">Show Volley 3</label>
        </div>
        {{else}}
        <div>Fighters</div><div>Volley 1</div><div>Volley 2</div><div>Volley 3</div>
        {{/if}}
        {{#each participants as |p i|}}
        <div class="volley-buttons flex-row">
            <div class="participant">{{p.name}}</div>
            {{#if p.showActions}}
            <button class="control-button" data-index="{{i}}" data-action="rollSpeed">Test Speed</button>
            <button class="control-button" data-index="{{i}}" data-action="rollPower">Test Power</button>
            <button class="control-button" data-index="{{i}}" data-action="rollAgility">Test Agility</button>
            <button class="control-button" data-index="{{i}}" data-action="rollSkill">Test Skill</button>
            {{/if}}
        </div>
        <div class="flex-row" lang="en">
            {{#if ../showV1}}
            <div class="attack-action action-card">{{#if p.action1}}{{{p.action1}}}{{else}}Does Nothing{{/if}}</div>
            {{#if p.action2}}<div class="attack-action action-card">{{{p.action2}}}</div>{{/if}}
            {{#if p.action3}}<div class="attack-action action-card">{{{p.action3}}}</div>{{/if}}
            {{else}}<div class="attack-action card-back"><i class='fas fa-dharmachakra'></i></div>
            {{/if}}
        </div>
        <div class="flex-row" lang="en">
            {{#if ../showV2}}
            <div class="attack-action action-card">{{#if p.action4}}{{{p.action4}}}{{else}}Does Nothing{{/if}}</div>
            {{#if p.action5}}<div class="attack-action action-card">{{{p.action5}}}</div>{{/if}}
            {{#if p.action6}}<div class="attack-action action-card">{{{p.action6}}}</div>{{/if}}
            {{else}}<div class="attack-action card-back"><i class='fas fa-dharmachakra'></i></div>
            {{/if}}
        </div>
        <div class="flex-row" lang="en">
            {{#if ../showV3}}
            <div class="attack-action action-card">{{#if p.action7}}{{{p.action7}}}{{else}}Does Nothing{{/if}}</div>
            {{#if p.action8}}<div class="attack-action action-card">{{{p.action8}}}</div>{{/if}}
            {{#if p.action9}}<div class="attack-action action-card">{{{p.action9}}}</div>{{/if}}
            {{else}}<div class="attack-action card-back"><i class='fas fa-dharmachakra'></i></div>
            {{/if}}
        </div>
        {{/each}}
    </div>
    <div class="fighters-grid">
        <div class="participant-card">
            Participant
        </div>
        <div class="volley">
            Volley 1
        </div>
        <div class="volley">
            Volley 2
        </div>
        <div class="volley">
            Volley 3
        </div>
        {{#each participants as |p i|}}
        <div class="participant-card">
            {{#if ../gmView}}
            <i data-action="removeFighter" data-index="{{i}}" class="fas fa-times remove-fighter"></i>
            {{/if}}
            <div class="actor-name clickable" data-action="toggleHidden" data-index="{{i}}">{{p.name}}</div>
            {{#if p.showActions}}
            <img class="portrait clickable" src="{{p.imgSrc}}" title="{{p.name}}" data-action="openSheet" data-actor-id="{{p.id}}"/>
            <div class="details">
                <div>
                    Reflexes: {{p.reflexes}}
                </div>
                <div>
                    Engagement Bonus
                    <input data-index="{{i}}" name="engagementBonus" type="number" class="exponent no-arrows" value="{{p.engagementBonus}}">
                </div>
                <div>
                    Position Penalty
                    <input data-index="{{i}}" name="positionPenalty" type="number" class="exponent no-arrows" value="{{p.positionPenalty}}">
                </div>
                <div>
                    Active Weapon
                    <select data-index="{{i}}" name="weaponId">
                        {{#select p.weaponId}}
                        <option value="">Pick a Weapon</option>
                        {{#each p.weapons as |s|}}
                        <option value="{{s.id}}">{{s.label}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
            {{/if}}
        </div>
        <div class="volley">
            {{#if p.showActions}}
            <label>Action 1
                <select name="action1" data-index="{{i}}">
                    {{#select p.action1}}
                    <option value="">Do Nothing</option>
                    {{#each ../actionOptions as |ao|}}
                    <optgroup label="{{@key}}">
                        {{#each ao as |o|}}
                        <option value="{{o}}">{{{o}}}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/select}}
                </select>
            </label>
            {{#if p.showAction2}}
            <label>Action 2
                <select name="action2" data-index="{{i}}">
                    {{#select p.action2}}
                    <option value="">Do Nothing</option>
                    {{#each ../actionOptions as |ao|}}
                    <optgroup label="{{@key}}">
                        {{#each ao as |o|}}
                        <option value="{{o}}">{{{o}}}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/select}}
                </select>
            </label>
            {{/if}}
            {{#if p.showAction3}}
            <label>Action 3
                <select name="action3" data-index="{{i}}">
                    {{#select p.action3}}
                    <option value="">Do Nothing</option>
                    {{#each ../actionOptions as |ao|}}
                    <optgroup label="{{@key}}">
                        {{#each ao as |o|}}
                        <option value="{{o}}">{{{o}}}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/select}}
                </select>
            </label>
            {{/if}}
            {{/if}}
        </div>
        <div class="volley">
            {{#if p.showActions}}
            <label>Action 1
                <select name="action4" data-index="{{i}}">
                    {{#select p.action4}}
                    <option value="">Do Nothing</option>
                    {{#each ../actionOptions as |ao|}}
                    <optgroup label="{{@key}}">
                        {{#each ao as |o|}}
                        <option value="{{o}}">{{{o}}}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/select}}
                </select>
            </label>
            {{#if p.showAction5}}
            <label>Action 2
                <select name="action5" data-index="{{i}}">
                    {{#select p.action5}}
                    <option value="">Do Nothing</option>
                    {{#each ../actionOptions as |ao|}}
                    <optgroup label="{{@key}}">
                        {{#each ao as |o|}}
                        <option value="{{o}}">{{{o}}}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/select}}
                </select>
            </label>
            {{/if}}
            {{#if p.showAction6}}
            <label>Action 3
                <select name="action6" data-index="{{i}}">
                    {{#select p.action6}}
                    <option value="">Do Nothing</option>
                    {{#each ../actionOptions as |ao|}}
                    <optgroup label="{{@key}}">
                        {{#each ao as |o|}}
                        <option value="{{o}}">{{{o}}}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/select}}
                </select>
            </label>
            {{/if}}
            {{/if}}
        </div>
        <div class="volley">
            {{#if p.showActions}}
            <label>Action 1
                <select name="action7" data-index="{{i}}">
                    {{#select p.action7}}
                    <option value="">Do Nothing</option>
                    {{#each ../actionOptions as |ao|}}
                    <optgroup label="{{@key}}">
                        {{#each ao as |o|}}
                        <option value="{{o}}">{{{o}}}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/select}}
                </select>
            </label>
            {{#if p.showAction8}}
            <label>Action 2
                <select name="action8" data-index="{{i}}">
                    {{#select p.action8}}
                    <option value="">Do Nothing</option>
                    {{#each ../actionOptions as |ao|}}
                    <optgroup label="{{@key}}">
                        {{#each ao as |o|}}
                        <option value="{{o}}">{{{o}}}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/select}}
                </select>
            </label>
            {{/if}}
            {{#if p.showAction9}}
            <label>Action 3
                <select name="action9" data-index="{{i}}">
                    {{#select p.action9}}
                    <option value="">Do Nothing</option>
                    {{#each ../actionOptions as |ao|}}
                    <optgroup label="{{@key}}">
                        {{#each ao as |o|}}
                        <option value="{{o}}">{{{o}}}</option>
                        {{/each}}
                    </optgroup>
                    {{/each}}
                    {{/select}}
                </select>
            </label>
            {{/if}}
            {{/if}}
        </div>
        {{/each}}
        {{#if gmView}}
        <div class="newParticipant">
            <select name="newParticipant">
                <option value="">Add a new fighter.</option>
                {{#each participantOptions}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        {{/if}}
    </div>
</form>