<form class="fight flex-row" autocomplete="off">
    {{#if gmView}}
    <div class="control-grid">
        <button class="control-button" data-action="clearAll">Clear All</button>
        <button class="control-button" data-action="resetRound">Reset Round</button>
    </div>
    {{/if}}
    <div class="fighters-grid">
        <div>
            Participant
        </div>
        <div class="volley">
            Volley 1
        </div>
        <div class="volley">
            Volley 2
        </div>
        <div class="volley">
            Volley 3
        </div>
        {{#each participants as |p i|}}
        <div class="participant-card">
            <div class="actor-name">{{p.name}}</div>
            <img class="portrait" src="{{p.imgSrc}}" title="{{p.name}}" data-edit="img"/>
            <div>
                Engagement Bonus
                <input type="number" class="exponent no-arrows">
            </div>
            <div>
                Disadvantage Penalty
                <input type="number" class="exponent no-arrows">
            </div>
            <div>
                Active Skill
                <select>
                    <option>Sword</option>
                    <option>Sword</option>
                </select>
            </div>
            <button class="control-button">Test Speed</button>
            <button class="control-button">Test Skill</button>
        </div>
        <div class="volley">
            <div>Volley 1</div>
            <select>
                <option>Action 1</option>
            </select>
            <select>
                <option>Action 2</option>
            </select>
            <select>
                <option>Action 3</option>
            </select>
        </div>
        <div class="volley">
            <div>Volley 2</div>
            <select>
                <option>Action 1</option>
            </select>
            <select>
                <option>Action 2</option>
            </select>
            <select>
                <option>Action 3</option>
            </select>
        </div>
        <div class="volley">
            <div>Volley 3</div>
            <select>
                <option>Action 1</option>
            </select>
            <select>
                <option>Action 2</option>
            </select>
            <select>
                <option>Action 3</option>
            </select>
        </div>
        {{/each}}
        {{#if gmView}}
        <div class="newParticipant">
            <select name="newParticipant">
                <option value="">Add a new fighter.</option>
                {{#each participantOptions}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        {{/if}}
    </div>
</form>