<div class="gm-difficulty">
    <div class="difficulty-dialog">
        <div class="roll-mods">
            <div class="pill-toggle s-pool">
                <input type="checkbox" id="gm-diff-sp" name="splitPool" {{checked splitPool}}>
                <label for="gm-diff-sp" title="Offer to split dice into a secondary pool">S/P</label>
            </div>
            <div class="pill-toggle c-diff">
                <input type="checkbox" id="gm-diff-custom" name="customDiff" {{checked customDiff}}>
                <label for="gm-diff-custom" title="Force a player set custom difficulty">CST</label>
            </div>
            <div class="pill-toggle n-track">
                <input type="checkbox" id="gm-diff-track" name="noTrack" {{checked noTrack}}>
                <label for="gm-diff-track" title="Skip difficulty tracking">TRK</label>
            </div>
        </div>
        <div class="obstacle">
            <div class="label">Obstacle</div>
            {{#if editable}}
            <input class="difficultyInput" value="{{difficulty}}" type="number">
            {{else}}
            <div class="number">
                {{difficulty}}
            </div>
            {{/if}}
        </div>
    </div>
    {{#if (or editable modifiers.length)}}
    <div class="obstacle-mods">
        <div class="obstacle-title">Additional Modifiers</div>
        <hr>
        {{#each modifiers as |mod i|}}
        <div class="mod-entry">
            {{#if ../editable}}
            <input class="mod-name" type="text" name="name" data-index="{{i}}" value="{{mod.name}}" onfocus="this.select();" autocomplete="off">
            <input class="mod-amount" type="number" name="amount" data-index="{{i}}" value="{{mod.amount}}" onfocus="this.select();" autocomplete="off">
            {{else}}
            <div class="mod-name" >{{mod.name}}</div>
            <div class="mod-amount" >{{#if (gt mod.amount 0)}}+{{/if}}{{mod.amount}}</div>
            {{/if}}
        </div>
        {{/each}}
        {{#if editable}}
        <input type="text" name="newMod" placeholder="New Modifier" onfocus="this.select();" autocomplete="off">
        {{/if}}
    </div>
    {{/if}}
</div>
