<div class="gm-difficulty">
    <div class="difficulty-dialog{{#if sidebarCollapsed}} collapsed{{/if}}">
        <div class="roll-mods">
            <div class="pill-toggle ext-test">
                <input type="checkbox" id="gm-ext-test" name="extendedTest" {{checked extendedTest}} {{#if editable}}{{else}} disabled {{/if}}>
                <label for="gm-ext-test" title="Change to extended test mode.">{{localize "BW.gmDifficulty.extendedTest"}}</label>
            </div>
            <div class="pill-toggle s-pool">
                <input type="checkbox" id="gm-diff-sp" name="splitPool" {{checked splitPool}}>
                <label for="gm-diff-sp" title="{{localize "BW.gmDifficulty.splitPool"}}">{{localize "BW.gmDifficulty.splitPoolAcronym"}}</label>
            </div>
            <div class="pill-toggle c-diff">
                <input type="checkbox" id="gm-diff-custom" name="customDiff" {{checked customDiff}}>
                <label for="gm-diff-custom" title="{{localize "BW.gmDifficulty.customDiff"}}">{{localize "BW.gmDifficulty.customDiffAcronym"}}</label>
            </div>
            <div class="pill-toggle help">
                <input type="checkbox" id="gm-diff-help" name="help" {{checked help}}>
                <label for="gm-diff-help" title="{{localize "BW.gmDifficulty.help"}}">{{localize "BW.gmDifficulty.helpAcronym"}}</label>
            </div>
        </div>
        {{#if showDifficulty}}
        <div class="obstacle">
            <div class="label">{{localize "BW.obstacle"}}</div>
            {{#if editable}}
            <input class="difficultyInput" value="{{difficulty}}" type="number">
            {{else}}
            <div class="number">
                {{difficulty}}
            </div>
            {{/if}}
        </div>
        {{/if}}
    </div>
    {{#if extendedTest}}
    <div class="extended-test{{#if sidebarCollapsed}} collapsed{{/if}}">
        {{#if editable}}
        <button class="full-width" data-action="clear">{{localize "BW.gmDifficulty.clear"}}</button>
        {{/if}}
        <div class="test-title">{{localize "BW.gmDifficulty.extendedTest"}}</div>
        {{#each actorGroups as |ah|}}
        <div class="advancement">
            <div class="group-header">{{ah.name}}</div>
            {{#each ah.advancements as |a idx|}}
            <div class="entry flex-row">
                {{#if ../../editable}}
                {{#if a.skillId}}
                <div class="title" data-action="grant" data-actor-id="{{../id}}" data-skill-id="{{a.skillId}}" data-difficulty="{{a.difficulty}}" data-title="{{a.title}}">{{a.title}}</div>
                {{else}}
                <div class="title" data-action="grant" data-actor-id="{{../id}}" data-path="{{a.path}}" data-difficulty="{{a.difficulty}}" data-title="{{a.title}}">{{a.title}}</div>
                {{/if}}
                {{else}}
                <div class="title">{{a.title}}</div>
                {{/if}}
                <div class="difficulty">{{a.difficulty}}</div>
                {{#if ../../editable}}
                <button class="action" data-action="clearEntry" data-actor-id="{{../id}}" data-index="{{idx}}"><i class="fas fa-times"></i></button>
                {{/if}}
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>
