<div class="mods-and-help {{cssClass}}">
    {{#if showHelp}}
    <div class="help-mods">
        <div class="help-title">Helping Dice</div>
        <hr>
        {{#each help as |h i|}}
        <div class="help-entry flex-row">
            <div class="help-name" >{{h.title}}<span class="tooltip">Helped with {{h.helpedWith}}.</span></div>
            <div class="help-amount" >+{{h.dice}}D</div>
            {{#if ../editable}}
            <i class="fas fa-times clickable" data-action="delete" data-index="{{i}}"></i>
            {{/if}}
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#if (or editable modifiers.length)}}
    <div class="obstacle-mods">
        <div class="obstacle-title">Additional Modifiers</div>
        <hr>
        {{#each modifiers as |mod i|}}
        <div class="mod-entry">
            {{#if ../editable}}
            <input class="mod-name" type="text" name="name" data-index="{{i}}" value="{{mod.name}}" onfocus="this.select();" autocomplete="off">
            <input class="mod-amount" type="number" name="amount" data-index="{{i}}" value="{{mod.amount}}" onfocus="this.select();" autocomplete="off">
            {{else}}
            <div class="mod-name" >{{mod.name}}</div>
            <div class="mod-amount" >{{#if (gt mod.amount 0)}}+{{/if}}{{mod.amount}}</div>
            {{/if}}
        </div>
        {{/each}}
        {{#if editable}}
        <input type="text" name="newMod" placeholder="New Modifier" onfocus="this.select();" autocomplete="off">
        {{/if}}
    </div>
    {{/if}}
</div>