<h2>Pick a new skill</h2>
<div class="search-grid">
    {{#each items as |i|}}
    <div data-skill-name="{{i.name}}" class="flex-row search-entry">
        <div class="item-select-header">
            <input type="checkbox" id="{{i.id}}" value="{{i.id}}">
            <label for="{{i.id}}">{{i.name}}</label>
        </div>
        <div class="item-select-info">
            {{i.itemDataLeft}}
        </div>
        <div class="item-select-info">
            {{i.itemDataMid}}
        </div>
        <div class="item-select-info">
            Src: {{i.itemSource}}
        </div>
    </div>
    {{/each}}
</div>
<div class="search-box">
    <i class="fas fa-search"></i>
    <input type="text" class="new-item-dialog-search" placeholder="Search">
</div>