<form class="dialog">
    <h2>{{name}}</h2>
    {{#if showObstacles}}
    <div class="flex-row">
        <hr class="dialog-section-before"><div class="dialog-section-text">Obstacle</div><hr class="dialog-section-after">
        {{#if showDifficulty}}
        <div class="flex-row dialog-row">
            <label>Difficulty</label>
            <input type="number" class="exponent" name="difficulty" value="{{difficulty}}">
        </div>
        {{/if}}
        {{#if obPenalty}}
        <div class="flex-row dialog-row">
            <label>Wound Penalty</label>
            <input type="number" class="exponent" disabled name="obPenalty" value="{{obPenalty}}">
        </div>
        {{/if}}
        {{#each obModifiers as |mod|}}
        <div class="flex-row dialog-row">
            <label>{{mod.label}}</label>
            <input type="checkbox" class="hidden" name="miscObs" checked value="{{mod.obstacle}}" data-name="{{mod.label}}">
            <input type="number" class="exponent" disabled value="{{mod.obstacle}}" data-name="{{mod.label}}">
        </div>
        {{/each}}
    </div>
    {{/if}}
    <div class="flex-row">
        <hr class="dialog-section-before"><div class="dialog-section-text">Dice</div><hr class="dialog-section-after">
        <div class="flex-row dialog-row">
            <label>Exponent</label>
            {{#if skill}}
            <input type="number" class="exponent" disabled name="skill.exp" value="{{skill.exp}}">
            {{/if}}
            {{#if stat}}
            <input type="number" class="exponent" disabled name="stat.exp" value="{{stat.exp}}">
            {{/if}}
        </div>
        {{#if tax}}
        <div class="flex-row dialog-row">
            <label>Tax</label>
            <input type="number" class="exponent" disabled name="tax" value="{{tax}}">
        </div>
        {{/if}}
        {{#if woundDice}}
        <div class="flex-row dialog-row">
            <label>Wound Penalty</label>
            <input type="number" class="exponent" disabled name="woundDice" value="{{woundDice}}">
        </div>
        {{/if}}
            {{#if circlesContact}}
        <div class="flex-row dialog-row">
            <label>Relationship Bonus</label>
            <input type="number" class="exponent" disabled value="1">
        </div>
        {{/if}}
        {{#each diceModifiers as |mod|}}
        <div class="flex-row dialog-row">
            <label>{{mod.label}}</label>
            <input type="checkbox" class="hidden" name="miscDice" checked value="{{mod.dice}}" data-name="{{mod.label}}">
            <input type="number" class="exponent" disabled value="{{mod.dice}}" data-name="{{mod.label}}">
        </div>
        {{/each}}
        <div class="flex-row dialog-row">
            <label>Bonus Dice</label>
            <input type="number" class="exponent" name="bonusDice" value="{{bonusDice}}">
        </div>
        {{#if cashDieOptions}}
        <div class="flex-row dialog-row">
            <label>Cash Dice</label>
            <select name="cashDice">
                {{#select cashDice}}
                <option value="0">0</option>
                {{#each cashDieOptions as |o|}}
                <option value="{{plusone o 1}}">{{plusone o 1}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        {{/if}}
        {{#if fundDieOptions}}
        <div class="flex-row dialog-row">
            <label>Fund Dice</label>
            <select name="fundDice">
                {{#select fundDice}}
                <option value="0">0</option>
                {{#each fundDieOptions as |o|}}
                <option value="{{plusone o 1}}">{{plusone o 1}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        {{/if}}
    </div>
    <div class="flex-row">
        <hr class="dialog-section-before"><div class="dialog-section-text">Artha Dice</div><hr class="dialog-section-after">
        {{#if personaOptions}}
        <div class="flex-row dialog-row">
            <label>Persona Dice</label>
            <select name="personaDice">
                {{#select personaDice}}
                <option value="0">0</option>
                {{#each personaOptions as |o|}}
                <option value="{{plusone o 1}}">{{plusone o 1}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        {{/if}}
        {{#if deedsPoint}}
        <div class="checkbox-grid half-width">
            {{#if skill}}
            <input id="checkbox-tool-penalty" type="checkbox" name="deedsDice" value="{{skill.exp}}">
            {{/if}}
            {{#if stat}}
            <input id="checkbox-tool-penalty" type="checkbox" name="deedsDice" value="{{stat.exp}}">
            {{/if}}
            <label for="checkbox-tool-penalty">Divine Inspiration</label>
        </div>
        {{/if}}
        <div class="flex-row dialog-row">
            <label>Misc. Artha</label>
            <input type="number" class="exponent" name="arthaDice" value="{{arthaDice}}">
        </div>
    </div>
    {{#if circlesBonus}}
    <div class="flex-row">
        <hr class="dialog-section-before"><div class="dialog-section-text">Reputations & Affiliations</div><hr class="dialog-section-after">    
        <div class="checkbox-grid">
            {{#each circlesBonus as |b|}}
                <input id="checkbox-{{@key}}-{{slugify b.name}}" type="checkbox" name="circlesBonus" value="{{b.amount}}" data-name="{{b.name}}">
                <label for="checkbox-{{@key}}-{{slugify b.name}}">{{b.name}}</label>
            {{/each}}
        </div>
    </div>
    {{/if}}
    {{#if circlesMalus}}
    <div class="flex-row">
        <hr class="dialog-section-before"><div class="dialog-section-text">Infamies</div><hr class="dialog-section-after">
        <div class="checkbox-grid">
            {{#each circlesMalus as |b|}}
                <input id="checkbox-{{@key}}-{{slugify b.name}}" type="checkbox" name="circlesMalus" value="{{b.amount}}" data-name="{{b.name}}">
                <label for="checkbox-{{@key}}-{{slugify b.name}}">{{b.name}}</label>
            {{/each}}
        </div>
    </div>
    {{/if}}
    {{#if offerSplitPool}}
    <div class="flex-row">
        <hr class="dialog-section-before"><div class="dialog-section-text">Secondary Pool</div><hr class="dialog-section-after">
        <div class="flex-row dialog-row">
            <label>Secondary Pool</label>
            <input type="number" class="exponent no-arrows" name="splitPool" value="0">
        </div>
        <div class="dialog-row">
            Split some dice into a secondary pool. These are subtracted from the total rolled.
        </div>
    </div>
    {{/if}}
    {{#if forkOptions}}
    <div class="flex-row">
        <hr class="dialog-section-before"><div class="dialog-section-text">FoRKs</div><hr class="dialog-section-after">
        <div class="checkbox-grid">
            {{#each forkOptions as |skill|}}
                <input id="checkbox-fork-{{@key}}" type="checkbox" name="forkOptions" value="{{skill.amount}}">
                <label for="checkbox-fork-{{@key}}">{{skill.name}}</label>
            {{/each}}
        </div>
    </div>
    {{/if}}
    {{#if wildForks}}
    <div class="flex-row">
        <hr class="dialog-section-before"><div class="dialog-section-text">Wild FoRKs</div><hr class="dialog-section-after">
        <div class="checkbox-grid">
            {{#each wildForks as |skill|}}
                <input id="checkbox-wild-{{@key}}" type="checkbox" name="wildForks" value="{{skill.amount}}">
                <label for="checkbox-wild-{{@key}}">{{skill.name}}</label>
            {{/each}}
        </div>
    </div>
    {{/if}}
    {{#if needsToolkit}}
    <div class="flex-row">
        <hr class="dialog-section-before"><div class="dialog-section-text">Tools</div><hr class="dialog-section-after">
        <div class="checkbox-grid half-width">
            <input id="checkbox-tool-penalty" type="checkbox" name="toolPenalty" value="1">
            <label for="checkbox-tool-penalty">No Tools Penalty</label>
        </div>
        <div class="flex-row dialog-row">
            <label for="select-toolkit" name="toolkit">Expend Toolkit?</label>
            <select id="select-toolkit" name="toolkitId">
                <option value="">None</option>
                {{#each toolkits as |t|}}
                <option value="{{t._id}}">{{t.name}}{{#if t.data.isExpended}} (Expended){{/if}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    {{/if}}
    {{#if optionalDiceModifiers}}
    <div class="flex-row">
        <hr class="dialog-section-before"><div class="dialog-section-text">Optional Dice Modifiers</div><hr class="dialog-section-after">
        <div class="checkbox-grid">
            {{#each optionalDiceModifiers as |mod|}}
            <input id="checkbox-{{@key}}-die" type="checkbox" name="miscDice" value="{{mod.dice}}" data-name="{{mod.label}}">
            <label for="checkbox-{{@key}}-die">{{mod.label}}</label>
            {{/each}}
        </div>
    </div>
    {{/if}}

    {{#if optionalObModifiers}}
    <div class="flex-row">
        <hr class="dialog-section-before"><div class="dialog-section-text">Optional Obstacle Modifiers</div><hr class="dialog-section-after">
        <div class="checkbox-grid">
            {{#each optionalObModifiers as |mod|}}
            <input id="checkbox-{{@key}}-ob" type="checkbox" name="miscObs" value="{{mod.obstacle}}" data-name="{{mod.label}}">
            <label for="checkbox-{{@key}}-ob">{{mod.label}}</label>
            {{/each}}
        </div>
    </div>
    {{/if}}
    {{#if learning}} <input type="hidden" name="learning" value="1">{{/if}}
    {{#if useCustomDifficulty}}<input type="hidden" name="forceCustomDifficulty" value="1">{{/if}}
    {{#if skipAdvancement}}
    <div class="roll-warning">
        Advancement for this roll will not be tracked.
        <input type="hidden" name="skipAdvancement" value="1">
    </div>
    {{/if}}
</form>