<h2 class="section-header">
    {{#if isOwner}}
        <input type="checkbox" id="{{actor.id}}-collapseAttributes" name="system.collapseAttributes" class="section-collapse" {{ checked system.collapseAttributes }}>
        <i class="fas fa-chevron-down"></i>
    {{/if}}
    <label for="{{actor.id}}-collapseAttributes" class="section-collapse-label clickable">Attributes</label>
</h2>
{{#if system.collapseAttributes}}{{else}}
<div class="attributes">
    {{> "systems/burningwheel/templates/parts/rollable-item.hbs" statName="Health" stat=system.health namePrefix="health" routine=true type="attribute"}}
    {{> "systems/burningwheel/templates/parts/rollable-item.hbs" statName="Steel" stat=system.steel namePrefix="steel" routine=true type="attribute"}}
    {{> "systems/burningwheel/templates/parts/rollable-item.hbs" statName="Circles" stat=system.circles namePrefix="circles" routine=true type="circles"}}
    {{> "systems/burningwheel/templates/parts/rollable-item.hbs" statName="Resources" stat=system.resources namePrefix="resources" routine=true  taxName="system.resourcesTax" taxValue=system.resourcesTax type="resources"}}
    {{> "systems/burningwheel/templates/parts/rollable-item.hbs" statName=system.custom1.name stat=system.custom1 namePrefix="custom1" routine=true customName=true type="attribute"}}
    {{> "systems/burningwheel/templates/parts/rollable-item.hbs" statName=system.custom2.name stat=system.custom2 namePrefix="custom2" routine=true customName=true type="attribute"}}
    <div class="attributes-derived">
        <div class="attributes-item flex-row">
            <label class="attribute-label">Reflexes</label>
            <div class="attribute-value">{{system.reflexesShade}}{{system.reflexesExp}}</div>
        </div>
        <div class="attributes-item flex-row">
            <label class="attribute-label">Mortal Wound</label>
            <div class="attribute-value">{{system.mortalWoundShade}}{{system.mortalWound}}</div>
        </div>
        <div class="attributes-item flex-row">
            <label class="attribute-label">Hesitation</label>
            <div class="attribute-value">{{system.hesitation}}</div>
        </div>
        <div class="attributes-item flex-row">
            <label class="debt-label">Cash</label>
            <div class="attribute-text">
                <input type="number" name="system.cash" value="{{system.cash}}" placeholder="0">
                Dice
            </div>
        </div>
        <div class="attributes-item flex-row">
            <label class="debt-label">Funds</label>
            <div class="attribute-text">
                <input type="number" name="system.funds" value="{{system.funds}}" placeholder="0">
                Dice
            </div>
        </div>
        <div class="attributes-item flex-row">
            <label class="debt-label">Property</label>
            <input type="text" class="attribute-text" name="system.property" value="{{system.property}}">
        </div>
        <div class="attributes-item flex-row">
            <label class="debt-label">Loans</label>
            <input type="text" class="attribute-text" name="system.loans" value="{{system.loans}}">
        </div>
        <div class="attributes-item flex-row">
            <label class="debt-label">Debt</label>
            <input type="text" class="attribute-text" name="system.debt" value="{{system.debt}}">
        </div>
    </div>
    <div class="attributes-debts"></div>
</div>
{{/if}}