<div class="footer">
    <span class="footer-left"><a href="https://github.com/StasTserk/foundry-burningwheel/issues/">{{localize "BW.character.reportProblem"}}</a></span>
    <span class="footer-center">{{localize "BW.character.sheetVersion"}} {{systemVersion}}</span>
    <span class="footer-right">{{localize "BW.character.seeReleaseNotes"}} <a href="https://github.com/StasTserk/foundry-burningwheel/releases/">{{localize "BW.character.onGithub"}}.</a></span>
</div>
