<h2 class="section-header">
    <input type="checkbox" id="{{actor.id}}-collapseGear" name="data.collapseGear" class="section-collapse" {{ checked data.collapseGear }}>
    <i class="fas fa-chevron-down"></i>
    <label for="{{actor.id}}-collapseGear" class="section-collapse-label clickable">Gear, Possessions, and Property</label>
</h2>
{{#if data.collapseGear}}{{else}}
<div class="gear item-grid col-4">
    {{#each equipment as |e|}}
    <div class="{{e.data.cssClass}}" draggable="true" data-id="{{e._id}}">
        {{e.name}}
        <i class="fas fa-trash item-action-icon" data-action="delItem" data-id="{{e._id}}"></i>
        <i class="fas fa-edit item-action-icon" data-action="editItem" data-id="{{e._id}}"></i>
    </div>
    {{/each}}
    <div class="right-floating">
        <div class="add-button" data-action="addGear"><i class="fas fa-plus"></i> Add New Gear</div>
    </div>
</div>
{{/if}}
