<h2 class="section-header">
    {{#if isOwner}}
    <input type="checkbox" id="{{actor.id}}-collapseLearning" name="system.collapseLearning" class="section-collapse" {{ checked system.collapseLearning }}>
    <i class="fas fa-chevron-down"></i>
    {{/if}}
    <label for="{{actor.id}}-collapseLearning" class="section-collapse-label clickable">Learning and Practice</label>
</h2>
{{#if system.collapseLearning}}{{else}}
<div class="learning-practice flex-row">
    <div class="flex-row learning-section">
        {{#each learning as |skill|}}
            {{> "systems/burningwheel/templates/parts/learning.hbs" skill=skill isOwner=../isOwner }}
        {{/each}}
    </div>
    <div class="practice-log">
        {{#if isOwner}}
        <div class="add-new-item-label" data-action="learn-skill"><i class="fas fa-plus"></i> Learn New Skill</div>
        {{/if}}
        <div>Practice Log</div>
        <textarea name="system.practiceLog">{{system.practiceLog}}</textarea>
    </div>
</div>
{{/if}}
