<h2 class='section-header'>
    {{#if isOwner}}
        <input
            type='checkbox'
            id='{{actor.id}}-collapseMisc'
            name='system.collapseMisc'
            class='section-collapse'
            {{checked system.collapseMisc}}
        />
        <i class='fas fa-chevron-down'></i>
    {{/if}}
    <label
        for='{{actor.id}}-collapseMisc'
        class='section-collapse-label clickable'
    >{{localize 'BW.character.notesAndMisc'}}</label>
</h2>
{{#if system.collapseMisc}}{{else}}
    <div class='misc-section item-grid col-3'>
        <textarea
            name='system.miscNotes1'
            class='note-box'
            rows='4'
        >{{system.miscNotes1}}</textarea>
        <textarea
            name='system.miscNotes2'
            class='note-box'
            rows='4'
        >{{system.miscNotes2}}</textarea>
        <textarea
            name='system.miscNotes3'
            class='note-box'
            rows='4'
        >{{system.miscNotes3}}</textarea>
    </div>
{{/if}}