<h2 class="section-header">
    {{#if isOwner}}
    <input type="checkbox" id="{{actor.id}}-collapse-spells" name="system.collapseSpells" class="section-collapse" {{ checked system.collapseSpells }}>
    <i class="fas fa-chevron-down"></i>
    {{/if}}
    <label for="{{actor.id}}-collapse-spells" class="section-collapse-label clickable">{{localize "BW.character.spells"}}</label>
</h2>
{{#if system.collapseSpells}}{{else}}
<div class="spell-section item-grid col-3" aria-label="spell section">
    <div class="spell-sustained-info">
        <div>
            {{localize "BW.character.spellsSustained"}}
        </div>
        <div><input type="number" name="system.willTax" value="{{system.willTax}}" data-dtype="Number" class="exponent"> / {{ system.maxSustained }}</div>
        
        <div>
            {{localize "BW.character.forteTax"}}
        </div>
        <div><input type="number" name="system.forteTax" value="{{system.forteTax}}" data-dtype="Number" class="exponent"> / {{sub system.forte.exp system.ptgs.woundDice}}</div>
        
        <div>
            {{localize "BW.character.maxObstacle"}}
        </div>
        <div><input type="number" disabled value="{{system.maxObSustained}}" class="exponent"></div>
        
    </div>
    <div class="sustained-spell-list">
        <div class="grid-header">{{localize "BW.character.sustainedSpell"}}</div>
        <div class="grid-header">{{localize "BW.obstacleAcronym"}}</div>
        <div class="grid-header">{{localize "BW.character.test"}}</div>
        <div class="grid-header">{{localize "BW.character.sustainedSpell"}}</div>
        <div class="grid-header">{{localize "BW.obstacleAcronym"}}</div>
        <div class="grid-header">{{localize "BW.character.test"}}</div>
        <input type="text" name="system.sustainedSpell1" value="{{system.sustainedSpell1}}">
        <input type="number" data-dtype="Number" name="system.sustainedSpell1Ob" value="{{system.sustainedSpell1Ob}}">
        <button type="button" class="rollable modifiable" data-rollable-name="{{system.sustainedSpell1}}" data-obstacle="{{system.sustainedSpell1Ob}}" data-roll-type="spellTax"><i class="fas fa-dice"></i></button>

        <input type="text" name="system.sustainedSpell2" value="{{system.sustainedSpell2}}">
        <input type="number" data-dtype="Number" name="system.sustainedSpell2Ob" value="{{system.sustainedSpell2Ob}}">
        <button type="button" class="rollable modifiable" data-rollable-name="{{system.sustainedSpell2}}" data-obstacle="{{system.sustainedSpell2Ob}}" data-roll-type="spellTax"><i class="fas fa-dice"></i></button>

        <input type="text" name="system.sustainedSpell3" value="{{system.sustainedSpell3}}">
        <input type="number" data-dtype="Number" name="system.sustainedSpell3Ob" value="{{system.sustainedSpell3Ob}}">
        <button type="button" class="rollable modifiable" data-rollable-name="{{system.sustainedSpell3}}" data-obstacle="{{system.sustainedSpell3Ob}}" data-roll-type="spellTax"><i class="fas fa-dice"></i></button>

        <input type="text" name="system.sustainedSpell4" value="{{system.sustainedSpell4}}">
        <input type="number" data-dtype="Number" name="system.sustainedSpell4Ob" value="{{system.sustainedSpell4Ob}}">
        <button type="button" class="rollable modifiable" data-rollable-name="{{system.sustainedSpell4}}" data-obstacle="{{system.sustainedSpell4Ob}}" data-roll-type="spellTax"><i class="fas fa-dice"></i></button>
    </div>
    {{#each spells as |spell|}}
    {{>"systems/burningwheel/templates/parts/spell.hbs" spell=spell skills=../sorcerousSkillOptions isOwner=../isOwner}}
    {{/each}}
    {{#if isOwner}}
    <div class="right-floating">
        <div class="add-button" data-action="addSpell"><i class="fas fa-plus"></i> {{localize "BW.character.addNew" type=(localize "BW.character.spell")}}</div>
        <div class="add-button" data-action="learnSpell"><i class="fas fa-plus"></i> {{localize "BW.character.learnNew" type=(localize "BW.character.spell")}}</div>
    </div>
    {{/if}}
</div>
{{/if}}