<h2 class="section-header">
    {{#if isOwner}}
        <input type="checkbox" id="{{actor.id}}-collapseStats" name="system.collapseStats" class="section-collapse" {{ checked system.collapseStats }}>
        <i class="fas fa-chevron-down"></i>
    {{/if}}
    <label for="{{actor.id}}-collapseStats" class="section-collapse-label clickable">Stats</label>
</h2>
{{#if system.collapseStats}}{{else}}
<div class="stats">
    {{> "systems/burningwheel/templates/parts/rollable-item.hbs" statName="Will" stat=system.will namePrefix="will" taxName="system.willTax" taxValue=system.willTax type="stat" taxDisabled=true}}
    {{> "systems/burningwheel/templates/parts/rollable-item.hbs" statName="Power" stat=system.power namePrefix="power" type="stat"}}
    {{> "systems/burningwheel/templates/parts/rollable-item.hbs" statName="Agility" stat=system.agility namePrefix="agility" type="stat"}}
    {{> "systems/burningwheel/templates/parts/rollable-item.hbs" statName="Perception" stat=system.perception namePrefix="perception" type="stat"}}
    {{> "systems/burningwheel/templates/parts/rollable-item.hbs" statName="Forte" stat=system.forte namePrefix="forte" type="stat" taxName="system.forteTax" taxValue=system.forteTax taxDisabled=true}}
    {{> "systems/burningwheel/templates/parts/rollable-item.hbs" statName="Speed" stat=system.speed namePrefix="speed" type="stat"}}
    <div class="stats-footer flex-row">
        <label>Stride</label><input type="number" placeholder="0" name="system.stride" value="{{system.stride}}">
        <label>Mounted Stride</label><input type="number" placeholder="0" name="system.mountedStride" value="{{system.mountedStride}}">
    </div>
</div>
{{/if}}
