<h2 class="section-header">
    {{#if isOwner}}
        <input type="checkbox" id="{{actor.id}}-collapseTraits" name="system.collapseTraits" class="section-collapse" {{ checked system.collapseTraits }}>
        <i class="fas fa-chevron-down"></i>
    {{/if}}
    <label for="{{actor.id}}-collapseTraits" class="section-collapse-label clickable">Traits</label>
</h2>
{{#if system.collapseTraits}}{{else}}
<div class="traits flex-row">
    <div class="trait-category">
        <h2>{{localize "BW.character.charTraits"}}
            {{#if isOwner}}<i data-action="addTrait" data-id="character" class="fas fa-plus clickable"></i>{{/if}}
        </h2>
        {{#each traits.character as |trait|}}
        {{> "systems/burningwheel/templates/parts/trait.hbs" trait=trait isOwner=../isOwner}}
        {{/each}}
    </div>
    <div class="trait-category">
        <h2>{{localize "BW.character.dieTraits"}}
            {{#if isOwner}}<i data-action="addTrait" data-id="die" class="fas fa-plus clickable"></i>{{/if}}
        </h2>
        {{#each traits.die as |trait|}}
        {{> "systems/burningwheel/templates/parts/trait.hbs" trait=trait isOwner=../isOwner}}
        {{/each}}
    </div>
    <div class="trait-category">
        <h2>{{localize "BW.character.callonTraits"}}
            {{#if isOwner}}<i data-action="addTrait" data-id="call-on" class="fas fa-plus clickable"></i>{{/if}}
        </h2>
        {{#each traits.callon as |trait|}}
        {{> "systems/burningwheel/templates/parts/trait.hbs" trait=trait isOwner=../isOwner}}
        {{/each}}
    </div>
</div>
{{/if}}
