<h2 class="section-header">
    {{#if isOwner}}
    <input type="checkbox" id="{{actor.id}}-collapseCombat" name="system.collapseCombat" class="section-collapse" {{ checked system.collapseCombat }}>
    <i class="fas fa-chevron-down"></i>
    {{/if}}
    <label for="{{actor.id}}-collapseCombat" class="section-collapse-label clickable">{{localize "BW.character.weaponsAndArmor"}}</label>
</h2>
{{#if system.collapseCombat}}{{else}}
<div class="combat-section flex-row">
    <div class="weapons">
        {{> "systems/burningwheel/templates/parts/weapons.hbs" melee=melee ranged=ranged skills=actor.martialSkills}}
    </div>
    <div class="armor-misc flex-column">
        <div class="training-skills">
            <hr>
            <h3>{{localize "BW.character.trainingSkills"}}</h3>
            {{#each training as |t|}}
            <div class="training-skill" data-item-id="{{t.id}}">
                <div class="flex-row">
                    <div class="training-skill-name">{{ t.name }}</div>
                    {{#if ../isOwner}}
                    <i class="fas fa-edit" data-action="editItem" data-id="{{t._id}}"></i>
                    <i class="fas fa-trash" data-action="delItem" data-id="{{t._id}}"></i>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
        <div class="clumsy-stats">
            <hr>
            <h3>{{localize "BW.character.clumsyWeight"}}</h3>
            <div class="flex-row">
                {{#if system.clumsyWeight.agilityPenalty}}
                <div class="clumsy-item flex-row">
                    <label class="clumsy-label">Agility</label>
                    <div class="clumsy-value">+{{system.clumsyWeight.agilityPenalty}} Ob</div>
                </div>
                {{/if}}
                {{#if system.clumsyWeight.speedObPenalty}}
                <div class="clumsy-item flex-row">
                    <label class="clumsy-label">Speed</label>
                    <div class="clumsy-value">+{{system.clumsyWeight.speedObPenalty}} Ob</div>
                </div>
                {{/if}}
                {{#if system.clumsyWeight.speedDiePenalty}}
                <div class="clumsy-item flex-row">
                    <label class="clumsy-label">Speed</label>
                    <div class="clumsy-value">-{{system.clumsyWeight.speedDiePenalty}} Die</div>
                </div>
                {{/if}}
                {{#if system.clumsyWeight.climbingPenalty}}
                <div class="clumsy-item flex-row">
                    <label class="clumsy-label">Climbing</label>
                    <div class="clumsy-value">+{{system.clumsyWeight.climbingPenalty}} Ob</div>
                </div>
                {{/if}}
                {{#if system.clumsyWeight.healthFortePenalty}}
                <div class="clumsy-item flex-row">
                    <label class="clumsy-label">Health / Forte</label>
                    <div class="clumsy-value">+{{system.clumsyWeight.healthFortePenalty}} Ob</div>
                </div>
                {{/if}}
                {{#if system.clumsyWeight.throwingShootingPenalty}}
                <div class="clumsy-item flex-row">
                    <label class="clumsy-label">Throwing / Shooting</label>
                    <div class="clumsy-value">+{{system.clumsyWeight.throwingShootingPenalty}} Ob</div>
                </div>
                {{/if}}
                {{#if system.clumsyWeight.stealthyPenalty}}
                <div class="clumsy-item flex-row">
                    <label class="clumsy-label">Stealthy</label>
                    <div class="clumsy-value">+{{system.clumsyWeight.stealthyPenalty}} Ob</div>
                </div>
                {{/if}}
                {{#if system.clumsyWeight.swimmingPenalty}}
                <div class="clumsy-item flex-row">
                    <label class="clumsy-label">Swimming</label>
                    <div class="clumsy-value">+{{system.clumsyWeight.swimmingPenalty}} Ob</div>
                </div>
                {{/if}}
                {{#if system.clumsyWeight.helmetObPenalty}}
                <div class="clumsy-item flex-row">
                    <label class="clumsy-label">Perception / Obs.</label>
                    <div class="clumsy-value">+{{system.clumsyWeight.helmetObPenalty}} Ob</div>
                </div>
                {{/if}}
                {{#unless system.armorTrained}}
                {{#if system.clumsyWeight.untrainedHealth}}
                <div class="clumsy-item flex-row">
                    <label class="clumsy-label">Untrained Health/Forte Penalty</label>
                    <div class="clumsy-value">+{{system.clumsyWeight.untrainedHealth}} Ob</div>
                </div>
                {{/if}}
                {{#if system.clumsyWeight.untrainedAll}}
                <div class="clumsy-item flex-row">
                    <label class="clumsy-label">Untrained Global Penalty</label>
                    <div class="clumsy-value">+{{system.clumsyWeight.untrainedAll}} Ob</div>
                </div>
                {{/if}}
                {{/unless}}
            </div>
        </div>
    </div>
    <div class="armor">
        <hr>
        {{> "systems/burningwheel/templates/parts/armor.hbs" armor=armor }}
    </div>
</div>
{{/if}}
