<form autocomplete="off" class="character">
    {{#if data.settings.showSettings}}
    {{> "systems/burningwheel/templates/parts/character-settings.hbs"}}
    {{/if}}
    <div class="character-header flex-row">
        <div class="portrait">
            <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
        </div>
        <div class="section-index item-grid col-2">
            <h2 class="section-header"><label>Character Index</label>
                <input id="{{actor._id}}-settings-checkbox" type="checkbox" class="hidden settings-checkbox" name="data.settings.showSettings" {{checked data.settings.showSettings}}>
                {{#if data.settings.showBurner}}<label class="settings-gear character-burner-icon clickable"><i class="fas fa-fire-alt"></i></label>{{/if}}
                <label class="settings-gear clickable" for="{{actor._id}}-settings-checkbox"><i class="fas fa-cogs"></i></label>
            </h2>
            <div>
                <label for="{{actor._id}}-character-name">Name</label>
                <input id="{{actor._id}}-character-name" type="text" name="name" value="{{actor.name}}">
            </div>
            <div>
                <label for="{{actor._id}}-character-stock">Stock</label>
                <input id="{{actor._id}}-character-stock" type="text" name="data.stock" value="{{data.stock}}">
            </div>
            <div>
                <label for="{{actor._id}}-character-age">Age</label>
                <input id="{{actor._id}}-character-age" type="number" name="data.age" value="{{data.age}}">
            </div>
            <div>
                <label for="{{actor._id}}-character-lifepaths">Lifepaths</label>
                <input id="{{actor._id}}-character-lifepaths" type="text" name="data.lifepathString" value="{{data.lifepathString}}">
            </div>
            <div>
                <label for="{{actor._id}}-character-alias">Alias</label>
                <input id="{{actor._id}}-character-alias" type="text" name="data.alias" value="{{data.alias}}">
            </div>
            <div>
                <label for="{{actor._id}}-character-homeland">Homeland</label>
                <input id="{{actor._id}}-character-homeland" type="text" name="data.homeland" value="{{data.homeland}}">
            </div>
            <div>
                <label for="{{actor._id}}-character-features">Features</label>
                <input id="{{actor._id}}-character-features" type="text" name="data.features" value="{{data.features}}">
            </div>
            <div class="flex-row artha-points">
                <div>
                    <label for="{{actor._id}}-character-fate-points" class="artha-label">Fate</label>
                    <input id="{{actor._id}}-character-fate-points" name="data.fate" value="{{data.fate}}" type="number" data-dtype="Number" min="0" class="artha-input">
                </div>
                <div>
                    <label for="{{actor._id}}-character-persona-points" class="artha-label">Persona</label>
                    <input id="{{actor._id}}-character-persona-points" name="data.persona" value="{{data.persona}}" type="number" data-dtype="Number" min="0" class="artha-input">
                </div>
                <div>
                    <label for="{{actor._id}}-character-deeds-points" class="artha-label">Deeds</label>
                    <input id="{{actor._id}}-character-deeds-points" name="data.deeds" value="{{data.deeds}}" type="number" data-dtype="Number" min="0" class="artha-input">
                </div>
            </div>
        </div>
    </div>

    {{!-- Beliefs Sheet Section --}}
    <h2 class="section-header">
        <input type="checkbox" id="{{actor._id}}-collapseBeliefs" name="data.collapseBeliefs" class="section-collapse" {{ checked data.collapseBeliefs }}>
        <i class="fas fa-chevron-down"></i>
        <label for="{{actor._id}}-collapseBeliefs" class="section-collapse-label clickable">Beliefs</label>
        <i data-action="addBelief" class="fas fa-plus clickable"></i>
    </h2>
    {{#if data.collapseBeliefs}}{{else}}
    <div class="beliefs">
        {{#each beliefs as |belief iid|}}
            <div class="bits-item flex-row">
                <div class="bits-artha">
                    <div class="bits-item-name" data-action="editItem" data-id="{{belief._id}}">{{belief.name}}</div>
                    F:<input type="checkbox" data-item-id="{{belief._id}}" data-binding="data.fate" {{ checked belief.data.fate }}>
                    P:<input type="checkbox" data-item-id="{{belief._id}}" data-binding="data.persona"  {{ checked belief.data.persona }}>
                    D:<input type="checkbox" data-item-id="{{belief._id}}" data-binding="data.deeds" {{ checked belief.data.deeds }}>
                </div>
                <div class="bits-buttons flex-column">
                    <i class="fas fa-comment" data-action="broadcast" data-id="{{belief._id}}"></i>
                    <i class="fas fa-trash" data-action="delItem" data-id="{{belief._id}}"></i>
                </div>
                <textarea data-item-id="{{belief._id}}" data-binding="data.text" rows="1">{{belief.data.text}}</textarea>
            </div>
        {{/each}}
    </div>
    {{/if}}

    {{!-- Instincts Sheet Section --}}
    <h2 class="section-header">
        <input type="checkbox" id="{{actor._id}}-collapseInstincts" name="data.collapseInstincts" class="section-collapse" {{ checked data.collapseInstincts }}>
        <i class="fas fa-chevron-down"></i>
        <label for="{{actor._id}}-collapseInstincts" class="section-collapse-label clickable">Instincts</label>
        <i data-action="instinct" class="fas fa-plus clickable"></i>
    </h2>
    {{#if data.collapseInstincts}}{{else}}
    <div class="instincts">
        {{#each instincts as |instinct|}}
            <div class="bits-item flex-row">
                <div class="bits-artha">
                    <div class="bits-item-name" data-action="editItem" data-id="{{instinct._id}}">{{instinct.name}}</div>
                    F:<input type="checkbox" data-item-id="{{instinct._id}}" data-binding="data.fate" {{ checked instinct.data.fate }}>
                    P:<input type="checkbox" data-item-id="{{instinct._id}}" data-binding="data.persona"  {{ checked instinct.data.persona }}>
                    D:<input type="checkbox" data-item-id="{{instinct._id}}" data-binding="data.deeds" {{ checked instinct.data.deeds }}>
                </div>
                <div class="bits-buttons flex-column">
                    <i class="fas fa-comment" data-action="broadcast" data-id="{{instinct._id}}"></i>
                    <i class="fas fa-trash" data-action="delItem" data-id="{{instinct._id}}"></i>
                </div>
                <textarea data-item-id="{{instinct._id}}" data-binding="data.text" rows="1">{{instinct.data.text}}</textarea>
            </div>
        {{/each}}
    </div>
    {{/if}}

    {{!-- Traits Sheet Section --}}
    <h2 class="section-header">
        <input type="checkbox" id="{{actor._id}}-collapseTraits" name="data.collapseTraits" class="section-collapse" {{ checked data.collapseTraits }}>
        <i class="fas fa-chevron-down"></i>
        <label for="{{actor._id}}-collapseTraits" class="section-collapse-label clickable">Traits</label>
    </h2>
    {{#if data.collapseTraits}}{{else}}
    <div class="traits flex-row">
        <div class="trait-category">
            <h2>Character Traits
                <i data-action="addTrait" data-id="character" class="fas fa-plus"></i>
            </h2>
            {{#each traits.character as |trait|}}
                <div class="trait" data-item-id="{{trait._id}}" draggable="true" data-id="{{trait._id}}">
                    <h3>
                        {{ trait.name }}
                        <i class="fas fa-trash" data-action="delItem" data-id="{{trait._id}}"></i>
                        <i class="fas fa-edit" data-action="editItem" data-id="{{trait._id}}"></i>
                    </h3>
                </div>
            {{/each}}
        </div>
        <div class="trait-category">
            <h2>Die Traits
                <i data-action="addTrait" data-id="die" class="fas fa-plus"></i>
            </h2>
            {{#each traits.die as |trait|}}
                <input type="checkbox" id="{{trait._id}}-toggle" class="hidden trait-checkbox" data-item-id="{{trait._id}}" data-binding="data.collapsed" {{ checked trait.data.collapsed }}>
                <div class="trait" data-item-id="{{trait._id}}" draggable="true" data-id="{{trait._id}}">
                    <label for="{{trait._id}}-toggle">
                        <h3>
                            {{ trait.name }}
                            <i class="fas fa-trash" data-action="delItem" data-id="{{trait._id}}"></i>
                            <i class="fas fa-edit" data-action="editItem" data-id="{{trait._id}}"></i>
                        </h3>
                    </label>
                    <textarea disabled="disabled">{{trait.data.text}}</textarea>
                </div>
            {{/each}}
        </div>
        <div class="trait-category">
            <h2>Call-on Traits
                <i data-action="addTrait" data-id="call-on" class="fas fa-plus"></i>
            </h2>
            {{#each traits.callon as |trait|}}
            <input type="checkbox" id="{{trait._id}}-toggle" class="hidden trait-checkbox" data-item-id="{{trait._id}}" data-binding="data.collapsed" {{ checked trait.data.collapsed }}>
                <div class="trait" data-item-id="{{trait._id}}" draggable="true" data-id="{{trait._id}}">
                    <label for="{{trait._id}}-toggle">
                        <h3>
                            {{ trait.name }}
                            <i class="fas fa-trash" data-action="delItem" data-id="{{trait._id}}"></i>
                            <i class="fas fa-edit" data-action="editItem" data-id="{{trait._id}}"></i>
                        </h3>
                    </label>
                    <textarea disabled="disabled">{{ trait.data.text }}</textarea>
                </div>
            {{/each}}
        </div>
    </div>
    {{/if}}

    {{!-- Stats Section --}}
    <h2 class="section-header">
        <input type="checkbox" id="{{actor._id}}-collapseStats" name="data.collapseStats" class="section-collapse" {{ checked data.collapseStats }}>
        <i class="fas fa-chevron-down"></i>
        <label for="{{actor._id}}-collapseStats" class="section-collapse-label clickable">Stats</label>
    </h2>
    {{#if data.collapseStats}}{{else}}
    <div class="stats">
        {{> "systems/burningwheel/templates/parts/rollable-item.hbs" statName="Will" stat=data.will namePrefix="data.will" taxName="data.willTax" taxValue=data.willTax type="stat" taxDisabled=true}}
        {{> "systems/burningwheel/templates/parts/rollable-item.hbs" statName="Power" stat=data.power namePrefix="data.power" type="stat"}}
        {{> "systems/burningwheel/templates/parts/rollable-item.hbs" statName="Agility" stat=data.agility namePrefix="data.agility" type="stat"}}
        {{> "systems/burningwheel/templates/parts/rollable-item.hbs" statName="Perception" stat=data.perception namePrefix="data.perception" type="stat"}}
        {{> "systems/burningwheel/templates/parts/rollable-item.hbs" statName="Forte" stat=data.forte namePrefix="data.forte" type="stat" taxName="data.forteTax" taxValue=data.forteTax taxDisabled=true}}
        {{> "systems/burningwheel/templates/parts/rollable-item.hbs" statName="Speed" stat=data.speed namePrefix="data.speed" type="stat"}}
        <div class="stats-footer flex-row">
            <label>Stride</label><input type="number" placeholder="0" name="data.stride" value="{{data.stride}}">
            <label>Mounted Stride</label><input type="number" placeholder="0" name="data.mountedStride" value="{{data.mountedStride}}">
        </div>
    </div>
    {{/if}}

    {{!-- Attributes Section --}}
    <h2 class="section-header">
        <input type="checkbox" id="{{actor._id}}-collapseAttributes" name="data.collapseAttributes" class="section-collapse" {{ checked data.collapseAttributes }}>
        <i class="fas fa-chevron-down"></i>
        <label for="{{actor._id}}-collapseAttributes" class="section-collapse-label clickable">Attributes</label>
    </h2>
    {{#if data.collapseAttributes}}{{else}}
    <div class="attributes">
        {{> "systems/burningwheel/templates/parts/rollable-item.hbs" statName="Health" stat=data.health namePrefix="data.health" routine=true type="attribute"}}
        {{> "systems/burningwheel/templates/parts/rollable-item.hbs" statName="Steel" stat=data.steel namePrefix="data.steel" routine=true type="attribute"}}
        {{> "systems/burningwheel/templates/parts/rollable-item.hbs" statName="Circles" stat=data.circles namePrefix="data.circles" routine=true type="circles"}}
        {{> "systems/burningwheel/templates/parts/rollable-item.hbs" statName="Resources" stat=data.resources namePrefix="data.resources" routine=true  taxName="data.resourcesTax" taxValue=data.resourcesTax type="resources"}}
        {{> "systems/burningwheel/templates/parts/rollable-item.hbs" statName=data.custom1.name stat=data.custom1 namePrefix="data.custom1" routine=true customName=true type="attribute"}}
        {{> "systems/burningwheel/templates/parts/rollable-item.hbs" statName=data.custom2.name stat=data.custom2 namePrefix="data.custom2" routine=true customName=true type="attribute"}}
        <div class="attributes-derived">
            <div class="attributes-item flex-row">
                <label class="attribute-label">Reflexes</label>
                <div class="attribute-value">{{data.reflexesShade}}{{data.reflexesExp}}</div>
            </div>
            <div class="attributes-item flex-row">
                <label class="attribute-label">Mortal Wound</label>
                <div class="attribute-value">{{data.mortalWoundShade}}{{data.mortalWound}}</div>
            </div>
            <div class="attributes-item flex-row">
                <label class="attribute-label">Hesitation</label>
                <div class="attribute-value">{{data.hesitation}}</div>
            </div>
            <div class="attributes-item flex-row">
                <label class="debt-label">Cash</label>
                <div class="attribute-text">
                    <input type="number" name="data.cash" value="{{data.cash}}" placeholder="0">
                    Dice
                </div>
            </div>
            <div class="attributes-item flex-row">
                <label class="debt-label">Funds</label>
                <div class="attribute-text">
                    <input type="number" name="data.funds" value="{{data.funds}}" placeholder="0">
                    Dice
                </div>
            </div>
            <div class="attributes-item flex-row">
                <label class="debt-label">Property</label>
                <input type="text" class="attribute-text" name="data.property" value="{{data.property}}">
            </div>
            <div class="attributes-item flex-row">
                <label class="debt-label">Loans</label>
                <input type="text" class="attribute-text" name="data.loans" value="{{data.loans}}">
            </div>
            <div class="attributes-item flex-row">
                <label class="debt-label">Debt</label>
                <input type="text" class="attribute-text" name="data.debt" value="{{data.debt}}">
            </div>
        </div>
        <div class="attributes-debts"></div>
    </div>
    {{/if}}
    
    <h2 class="section-header">
        <input type="checkbox" id="{{actor._id}}-collapseRelationships" name="data.collapseRelationships" class="section-collapse" {{ checked data.collapseRelationships }}>
        <i class="fas fa-chevron-down"></i>
        <label for="{{actor._id}}-collapseRelationships" class="section-collapse-label clickable">Relationships & Reputations</label>
    </h2>
    {{#if data.collapseRelationships}}{{else}}
    <div class="relationship-section flex-row">
        <div class="relationships">
            <h2>Relationships  <i data-action="addRelationship" class="fas fa-plus"></i></h2>
            {{#each relationships as |r|}}
                {{> "systems/burningwheel/templates/parts/relationships.hbs" relationship=r exp=../data.circles.exp}}
            {{/each}}
        </div>
        <div class="reputations">
            <h2>Reputations  <i data-action="addReputation" class="fas fa-plus"></i></h2>
            {{#each reputations as |r|}}
            <div class="reputation flex-row {{r.data.cssClass}}" draggable="true" data-id="{{r._id}}">
                <div class="item-title">
                    {{r.data.dice}}D - {{ r.name }}
                </div>
                <i class="fas fa-edit" data-action="editItem" data-id="{{r._id}}"></i>
                <i class="fas fa-trash" data-action="delItem" data-id="{{r._id}}"></i>
            </div>
            {{/each}}
        </div>
        <div class="affiliations">
            <h2>Affiliations  <i data-action="addAffiliation" class="fas fa-plus"></i></h2>
            {{#each affiliations as |a|}}
            <div class="affiliation flex-row" draggable="true" data-id="{{a._id}}">
                <div class="item-title">
                    {{a.data.dice}}D - {{ a.name }}
                </div>
                <i class="fas fa-edit" data-action="editItem" data-id="{{a._id}}"></i>
                <i class="fas fa-trash" data-action="delItem" data-id="{{a._id}}"></i>
            </div>
            {{/each}}
        </div>
        <hr>
    </div>
    {{/if}}

    {{!-- Gear section --}}
    <h2 class="section-header">
        <input type="checkbox" id="{{actor._id}}-collapseGear" name="data.collapseGear" class="section-collapse" {{ checked data.collapseGear }}>
        <i class="fas fa-chevron-down"></i>
        <label for="{{actor._id}}-collapseGear" class="section-collapse-label clickable">Gear, Possessions, and Property</label>
    </h2>
    {{#if data.collapseGear}}{{else}}
    <div class="gear item-grid col-4">
        {{#each equipment as |e|}}
        <div class="{{e.data.cssClass}}" draggable="true" data-id="{{e._id}}">
            {{e.name}}
            <i class="fas fa-trash item-action-icon" data-action="delItem" data-id="{{e._id}}"></i>
            <i class="fas fa-edit item-action-icon" data-action="editItem" data-id="{{e._id}}"></i>
        </div>
        {{/each}}
        <div class="right-floating">
            <div class="add-button" data-action="addGear"><i class="fas fa-plus"></i> Add New Gear</div>
        </div>
    </div>
    {{/if}}

    {{!-- Spells Section --}}
    <h2 class="section-header">
        <input type="checkbox" id="{{actor._id}}-collapse-spells" name="data.collapseSpells" class="section-collapse" {{ checked data.collapseSpells }}>
        <i class="fas fa-chevron-down"></i>
        <label for="{{actor._id}}-collapse-spells" class="section-collapse-label clickable">Spells</label>
    </h2>
    {{#if data.collapseSpells}}{{else}}
    <div class="spell-section item-grid col-3">
        <div class="spell-sustained-info">
            <div>
                Spells Sustained
            </div>
            <div><input type="number" name="data.willTax" value="{{data.willTax}}" data-dtype="Number" class="exponent"> / {{ data.maxSustained }}</div>
            
            <div>
                Forte Tax
            </div>
            <div><input type="number" name="data.forteTax" value="{{data.forteTax}}" data-dtype="Number" class="exponent"> / {{sub data.forte.exp data.ptgs.woundDice}}</div>
            
            <div>
                Maximum Sustainable Obstacle
            </div>
            <div><input type="number" disabled value="{{data.maxObSustained}}" class="exponent"></div>
            
        </div>
        <div class="sustained-spell-list">
            <div class="grid-header">Sustained Spell</div>
            <div class="grid-header">Ob</div>
            <div class="grid-header">Test</div>
            <div class="grid-header">Sustained Spell</div>
            <div class="grid-header">Ob</div>
            <div class="grid-header">Test</div>
            <input type="text" name="data.sustainedSpell1" value="{{data.sustainedSpell1}}">
            <input type="number" data-dtype="Number" name="data.sustainedSpell1Ob" value="{{data.sustainedSpell1Ob}}">
            <button class="rollable modifiable" data-rollable-name="{{data.sustainedSpell1}}" data-obstacle="{{data.sustainedSpell1Ob}}" data-roll-type="spellTax"><i class="fas fa-dice"></i></button>

            <input type="text" name="data.sustainedSpell2" value="{{data.sustainedSpell2}}">
            <input type="number" data-dtype="Number" name="data.sustainedSpell2Ob" value="{{data.sustainedSpell2Ob}}">
            <button class="rollable modifiable" data-rollable-name="{{data.sustainedSpell2}}" data-obstacle="{{data.sustainedSpell2Ob}}" data-roll-type="spellTax"><i class="fas fa-dice"></i></button>

            <input type="text" name="data.sustainedSpell3" value="{{data.sustainedSpell3}}">
            <input type="number" data-dtype="Number" name="data.sustainedSpell3Ob" value="{{data.sustainedSpell3Ob}}">
            <button class="rollable modifiable" data-rollable-name="{{data.sustainedSpell3}}" data-obstacle="{{data.sustainedSpell3Ob}}" data-roll-type="spellTax"><i class="fas fa-dice"></i></button>

            <input type="text" name="data.sustainedSpell4" value="{{data.sustainedSpell4}}">
            <input type="number" data-dtype="Number" name="data.sustainedSpell4Ob" value="{{data.sustainedSpell4Ob}}">
            <button class="rollable modifiable" data-rollable-name="{{data.sustainedSpell4}}" data-obstacle="{{data.sustainedSpell4Ob}}" data-roll-type="spellTax"><i class="fas fa-dice"></i></button>
        </div>
        {{#each spells as |spell|}}
        {{>"systems/burningwheel/templates/parts/spell.hbs" spell=spell skills=../actor.sorcerousSkills}}
        {{/each}}
        <div class="right-floating">
            <div class="add-button" data-action="addSpell"><i class="fas fa-plus"></i> Add New Spell</div>
            <div class="add-button" data-action="learnSpell"><i class="fas fa-plus"></i> Learn New Spell</div>
        </div>
    </div>
    {{/if}}

    {{!-- Misc Section --}}
    <h2 class="section-header">
        <input type="checkbox" id="{{actor._id}}-collapseMisc" name="data.collapseMisc" class="section-collapse" {{ checked data.collapseMisc }}>
        <i class="fas fa-chevron-down"></i>
        <label for="{{actor._id}}-collapseMisc" class="section-collapse-label clickable">Notes and Other Miscellanea</label>
    </h2>
    {{#if data.collapseMisc}}{{else}}
    <div class="misc-section item-grid col-3">
        <textarea name="data.miscNotes1" class="note-box" rows="4">{{data.miscNotes1}}</textarea>
        <textarea name="data.miscNotes2" class="note-box" rows="4">{{data.miscNotes2}}</textarea>
        <textarea name="data.miscNotes3" class="note-box" rows="4">{{data.miscNotes3}}</textarea>
    </div>
    {{/if}}

    {{!-- Skills Section --}}
    <h2 class="section-header">
        <input type="checkbox" id="{{actor._id}}-collapseSkills" name="data.collapseSkills" class="section-collapse" {{ checked data.collapseSkills }}>
        <i class="fas fa-chevron-down"></i>
        <label for="{{actor._id}}-collapseSkills" class="section-collapse-label clickable">Skills</label>
    </h2>
    {{#if data.collapseSkills}}{{else}}
    <div class="skills">
        {{#each skills as |skill|}}
            {{> "systems/burningwheel/templates/parts/rollable-skill.hbs" skill=skill }}
        {{/each}}
        <div class="right-floating">
            <div class="add-button" data-action="addSkill"><i class="fas fa-plus"></i> Add New Skill</div>
        </div>
    </div>
    {{/if}}

    {{!-- Learning Section --}}
    <h2 class="section-header">
        <input type="checkbox" id="{{actor._id}}-collapseLearning" name="data.collapseLearning" class="section-collapse" {{ checked data.collapseLearning }}>
        <i class="fas fa-chevron-down"></i>
        <label for="{{actor._id}}-collapseLearning" class="section-collapse-label clickable">Learning and Practice</label>
    </h2>
    {{#if data.collapseLearning}}{{else}}
    <div class="learning-practice flex-row">
        <div class="flex-row learning-section">
            {{#each learning as |skill|}}
                {{> "systems/burningwheel/templates/parts/learning.hbs" skill=skill }}
            {{/each}}
        </div>
        <div class="practice-log">
            <div class="add-new-item-label" data-action="learn-skill"><i class="fas fa-plus"></i> Learn New Skill</div>
            <div>Practice Log</div>
            <textarea name="data.practiceLog">{{data.practiceLog}}</textarea>
        </div>
    </div>
    {{/if}}

    {{!-- PTGS section --}}
    <h2 class="section-header">
        <input type="checkbox" id="{{actor._id}}-collapsePtgs" name="data.collapsePtgs" class="section-collapse" {{ checked data.collapsePtgs }}>
        <i class="fas fa-chevron-down"></i>
        <label for="{{actor._id}}-collapsePtgs" class="section-collapse-label clickable">Injury and Recovery</label>
    </h2>
    {{#if data.collapsePtgs}}{{else}}
    <div class="ptgs">
        {{> "systems/burningwheel/templates/parts/ptgs.hbs" ptgs=data.ptgs id=actor._id }}
    </div>
    {{/if}}

    {{!-- Weapons and Armor Section --}}
    <h2 class="section-header">
        <input type="checkbox" id="{{actor._id}}-collapseCombat" name="data.collapseCombat" class="section-collapse" {{ checked data.collapseCombat }}>
        <i class="fas fa-chevron-down"></i>
        <label for="{{actor._id}}-collapseCombat" class="section-collapse-label clickable">Weapons and Armor</label>
    </h2>
    {{#if data.collapseCombat}}{{else}}
    <div class="combat-section flex-row">
        <div class="weapons">
            {{> "systems/burningwheel/templates/parts/weapons.hbs" melee=melee ranged=ranged skills=actor.martialSkills}}
        </div>
        <div class="armor-misc flex-column">
            <div class="training-skills">
                <hr>
                <h3>Training Skills</h3>
                {{#each training as |t|}}
                <div class="training-skill" data-item-id="{{t._id}}">
                    <div class="flex-row">
                        <div class="training-skill-name">{{ t.name }}</div>
                        <i class="fas fa-edit" data-action="editItem" data-id="{{t._id}}"></i>
                        <i class="fas fa-trash" data-action="delItem" data-id="{{t._id}}"></i>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="clumsy-stats">
                <hr>
                <h3>Clumsy Weight Penalties</h3>
                <div class="flex-row">
                    {{#if data.clumsyWeight.agilityPenalty}}
                    <div class="clumsy-item flex-row">
                        <label class="clumsy-label">Agility</label>
                        <div class="clumsy-value">+{{data.clumsyWeight.agilityPenalty}} Ob</div>
                    </div>
                    {{/if}}
                    {{#if data.clumsyWeight.speedObPenalty}}
                    <div class="clumsy-item flex-row">
                        <label class="clumsy-label">Speed</label>
                        <div class="clumsy-value">+{{data.clumsyWeight.speedObPenalty}} Ob</div>
                    </div>
                    {{/if}}
                    {{#if data.clumsyWeight.speedDiePenalty}}
                    <div class="clumsy-item flex-row">
                        <label class="clumsy-label">Speed</label>
                        <div class="clumsy-value">-{{data.clumsyWeight.speedDiePenalty}} Die</div>
                    </div>
                    {{/if}}
                    {{#if data.clumsyWeight.climbingPenalty}}
                    <div class="clumsy-item flex-row">
                        <label class="clumsy-label">Climbing</label>
                        <div class="clumsy-value">+{{data.clumsyWeight.climbingPenalty}} Ob</div>
                    </div>
                    {{/if}}
                    {{#if data.clumsyWeight.healthFortePenalty}}
                    <div class="clumsy-item flex-row">
                        <label class="clumsy-label">Health / Forte</label>
                        <div class="clumsy-value">+{{data.clumsyWeight.healthFortePenalty}} Ob</div>
                    </div>
                    {{/if}}
                    {{#if data.clumsyWeight.throwingShootingPenalty}}
                    <div class="clumsy-item flex-row">
                        <label class="clumsy-label">Throwing / Shooting</label>
                        <div class="clumsy-value">+{{data.clumsyWeight.throwingShootingPenalty}} Ob</div>
                    </div>
                    {{/if}}
                    {{#if data.clumsyWeight.stealthyPenalty}}
                    <div class="clumsy-item flex-row">
                        <label class="clumsy-label">Stealthy</label>
                        <div class="clumsy-value">+{{data.clumsyWeight.stealthyPenalty}} Ob</div>
                    </div>
                    {{/if}}
                    {{#if data.clumsyWeight.swimmingPenalty}}
                    <div class="clumsy-item flex-row">
                        <label class="clumsy-label">Swimming</label>
                        <div class="clumsy-value">+{{data.clumsyWeight.swimmingPenalty}} Ob</div>
                    </div>
                    {{/if}}
                    {{#if data.clumsyWeight.helmetObPenalty}}
                    <div class="clumsy-item flex-row">
                        <label class="clumsy-label">Perception / Obs.</label>
                        <div class="clumsy-value">+{{data.clumsyWeight.helmetObPenalty}} Ob</div>
                    </div>
                    {{/if}}
                    {{#unless data.armorTrained}}
                    {{#if data.clumsyWeight.untrainedHealth}}
                    <div class="clumsy-item flex-row">
                        <label class="clumsy-label">Untrained Health/Forte Penalty</label>
                        <div class="clumsy-value">+{{data.clumsyWeight.untrainedHealth}} Ob</div>
                    </div>
                    {{/if}}
                    {{#if data.clumsyWeight.untrainedAll}}
                    <div class="clumsy-item flex-row">
                        <label class="clumsy-label">Untrained Global Penalty</label>
                        <div class="clumsy-value">+{{data.clumsyWeight.untrainedAll}} Ob</div>
                    </div>
                    {{/if}}
                    {{/unless}}
                </div>
            </div>
        </div>
        <div class="armor">
            <hr>
            {{> "systems/burningwheel/templates/parts/armor.hbs" armor=armor }}
        </div>
    </div>
    {{/if}}
    <hr>
    <div class="footer">
        <span class="footer-left"><a href="https://github.com/StasTserk/foundry-burningwheel/issues/">Report Problem</a></span>
        <span class="footer-center">Sheet Version {{systemVersion}}</span>
        <span class="footer-right">See Release notes <a href="https://github.com/StasTserk/foundry-burningwheel/releases/">on github.</a></span>
    </div>
</form>