<form autocomplete="off" class="npc flex-row">
    <div class="portrait">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
    </div>
    <div class="npc-header">
        <h1>
            <input type="text" name="name" value="{{actor.name}}">
            {{#if isOwner}}
            <div class="npc-checkbox">
                <input id="{{actor.id}}-edit-mode" type="checkbox" name="data.editMode" {{checked data.editMode}}>
                <label for="{{actor.id}}-edit-mode"><i class="fas fa-edit"></i></label>
            </div>
            {{/if}}
        </h1>
        <div class="npc-bio">
            <div class='npc-bio-text'>
                <label class="npc-section-label" for="{{actor.id}}-bio">Bio</label>
                <textarea id="{{actor.id}}-bio" name="data.bio">{{data.bio}}</textarea>
            </div>
            {{#if isObserver}}
            <div class="flex-row artha-points">
                <div>
                    <label for="{{actor.id}}-fate-points" class="artha-label">Fate</label>
                    <input id="{{actor.id}}-fate-points" name="data.fate" value="{{data.fate}}" type="number" data-dtype="Number" min="0" class="artha-input">
                </div>
                <div>
                    <label for="{{actor.id}}-persona-points" class="artha-label">Persona</label>
                    <input id="{{actor.id}}-persona-points" name="data.persona" value="{{data.persona}}" type="number" data-dtype="Number" min="0" class="artha-input">
                </div>
                <div>
                    <label for="{{actor.id}}-deeds-points" class="artha-label">Deeds</label>
                    <input id="{{actor.id}}-deeds-points" name="data.deeds" value="{{data.deeds}}" type="number" data-dtype="Number" min="0" class="artha-input">
                </div>
            </div>
            {{/if}}
        </div>
    </div>
    {{#if isObserver}}
    <div class="npc-stats">
        {{#each statRow as |stat|}}
            {{> "systems/burningwheel/templates/parts/npc-stat.hbs"
                label=stat.label
                attributeValue = stat.value
                attributeShade = stat.shade
                attributeShadePath = stat.shadePath
                attributePath = stat.valuePath
                editMode = ../data.editMode
                draggable = stat.draggable
                accessor = stat.accessor}}
        {{/each}}
    </div>
    <div class="npc-ptgs">
        <div class="ptgs-header">
            <div>PTGS</div>
            <div class="ptgs-subheader">+Ob: {{data.ptgs.obPenalty}}</div>
            <div class="ptgs-subheader">-Dice: {{data.ptgs.woundDice}}</div>
        </div>
        <div class="ptgs-category">
            Su:
            {{#if data.editMode}}
            <select name="data.ptgs.suShade">
                {{#select data.ptgs.suShade}}
                <option value="B">B</option>
                <option value="G">G</option>
                <option value="W">W</option>
                {{/select}}
            </select>
            <input type="number" data-dtype="Number" name="data.ptgs.suThresh" value="{{data.ptgs.suThresh}}">
            {{else}}
            {{data.ptgs.suShade}}{{data.ptgs.suThresh}}
            {{/if}}
        </div>
        <div class="ptgs-category">
            Li:
            {{#if data.editMode}}
            <select name="data.ptgs.liShade">
                {{#select data.ptgs.liShade}}
                <option value="B">B</option>
                <option value="G">G</option>
                <option value="W">W</option>
                {{/select}}
            </select>
            <input type="number" data-dtype="Number" name="data.ptgs.liThresh" value="{{data.ptgs.liThresh}}">
            {{else}}
            {{data.ptgs.liShade}}{{data.ptgs.liThresh}}
            {{/if}}
        </div>
        <div class="ptgs-category">
            Mi:
            {{#if data.editMode}}
            <select name="data.ptgs.miShade">
                {{#select data.ptgs.miShade}}
                <option value="B">B</option>
                <option value="G">G</option>
                <option value="W">W</option>
                {{/select}}
            </select>
            <input type="number" data-dtype="Number" name="data.ptgs.miThresh" value="{{data.ptgs.miThresh}}">
            {{else}}
            {{data.ptgs.miShade}}{{data.ptgs.miThresh}}
            {{/if}}
        </div>
        <div class="ptgs-category">
            Se:
            {{#if data.editMode}}
            <select name="data.ptgs.seShade">
                {{#select data.ptgs.seShade}}
                <option value="B">B</option>
                <option value="G">G</option>
                <option value="W">W</option>
                {{/select}}
            </select>
            <input type="number" data-dtype="Number" name="data.ptgs.seThresh" value="{{data.ptgs.seThresh}}">
            {{else}}
            {{data.ptgs.seShade}}{{data.ptgs.seThresh}}
            {{/if}}
        </div>
        <div class="ptgs-category">
            Tr:
            {{#if data.editMode}}
            <select name="data.ptgs.trShade">
                {{#select data.ptgs.trShade}}
                <option value="B">B</option>
                <option value="G">G</option>
                <option value="W">W</option>
                {{/select}}
            </select>
            <input type="number" data-dtype="Number" name="data.ptgs.trThresh" value="{{data.ptgs.trThresh}}">
            {{else}}
            {{data.ptgs.trShade}}{{data.ptgs.trThresh}}
            {{/if}}
        </div>
        <div class="ptgs-category">
            Mo:
            {{data.ptgs.woundShade}}{{data.ptgs.moThresh}}
        </div>
        <div class="ptgs-input">
            <input type="number" data-dtype="Number" name="data.ptgs.suTaken" value="{{data.ptgs.suTaken}}">
        </div>
        <div class="ptgs-input">
            <input type="number" data-dtype="Number" name="data.ptgs.liTaken" value="{{data.ptgs.liTaken}}">
        </div>
        <div class="ptgs-input">
            <input type="number" data-dtype="Number" name="data.ptgs.miTaken" value="{{data.ptgs.miTaken}}">
        </div>
        <div class="ptgs-input">
            <input type="number" data-dtype="Number" name="data.ptgs.seTaken" value="{{data.ptgs.seTaken}}">
        </div>
        <div class="ptgs-input">
            <input type="number" data-dtype="Number" name="data.ptgs.trTaken" value="{{data.ptgs.trTaken}}">
        </div>
        <div class="ptgs-input">
            <input type="number" data-dtype="Number" name="data.ptgs.moTaken" value="{{data.ptgs.moTaken}}">
        </div>
    </div>
    {{#if data.editMode}}
    <div class="bits-section">
        <div class="npc-section-label">Beliefs</div>
        {{#each beliefs as |b|}}
        <div class="bits-name">{{b.name}}</div><input type="text" data-item-id="{{b._id}}" data-binding="data.text" value="{{b.data.text}}">
        {{/each}}
    </div>
    <div class="bits-section">
        <div class="npc-section-label">
            Instincts
        </div>
        {{#each instincts as |i|}}
        <div class="bits-name">{{i.name}}</div><input type="text" data-item-id="{{i._id}}" data-binding="data.text" value="{{i.data.text}}">
        {{/each}}
    </div>
    <div class="editable-section">
        <div class="npc-section-label">
            Traits
            <i data-action="add" data-type="trait" class="fas fa-plus"></i>
        </div>
        {{#each traits as |t|}}
        {{> "systems/burningwheel/templates/parts/npc-editable.hbs" item=t}}
        {{/each}}
    </div>

    <div class="skill-section">
        <div class="npc-section-label">
            Skills
            <i data-action="add" data-type="skill" class="fas fa-plus"></i>
        </div>
        {{#each skills as |s|}}
        {{> "systems/burningwheel/templates/parts/npc-skill.hbs" skill=s}}
        {{/each}}
    </div>
    <div class="skill-section">
        <div class="npc-section-label">
            Untrained
        </div>
        {{#each untrained as |s|}}
        {{> "systems/burningwheel/templates/parts/npc-skill.hbs" skill=s}}
        {{/each}}
    </div>
    <div class="editable-section">
        <div class="npc-section-label">
            Affiliations
            <i data-action="add" data-type="affiliation" class="fas fa-plus"></i>
        </div>
        {{#each affiliations as |a|}}
        {{> "systems/burningwheel/templates/parts/npc-editable.hbs" item=a}}
        {{/each}}
    </div>
    <div class="editable-section">
        <div class="npc-section-label">
            Relationships
            <i data-action="add" data-type="relationship" class="fas fa-plus"></i>
        </div>
        {{#each relationships as |r|}}
         {{> "systems/burningwheel/templates/parts/npc-editable.hbs" item=r}}
        {{/each}}
    </div>
    <div class="editable-section">
        <div class="npc-section-label">
            Reputations
            <i data-action="add" data-type="reputation" class="fas fa-plus"></i>
        </div>
        {{#each reputations as |r|}}
        {{> "systems/burningwheel/templates/parts/npc-editable.hbs" item=r}}
        {{/each}}
    </div>
    <div class="editable-section">
        <div class="npc-section-label">
            Gear
            <i data-action="add" data-type="armor" class="fas fa-tshirt" title="Add Armor"></i>
            <i data-action="add" data-type="possession" class="fas fa-socks" title="Add Possession"></i>
            <i data-action="add" data-type="property" class="fas fa-home" title="Add Property"></i>
            </div>
        {{#each gear as |g|}}
         {{> "systems/burningwheel/templates/parts/npc-editable.hbs" item=g}}
        {{/each}}
    </div>

    <div class="weapon-section">
        <div class="npc-section-label">
            Weapons
            <i data-action="add" data-type="melee weapon" class="fas fa-hammer" title="Add Melee Weapon"></i>
            <i data-action="add" data-type="ranged weapon" class="fas fa-fan" title="Add Ranged Weapon"></i>
        </div>
        {{#each weapons as |w|}}
        {{> "systems/burningwheel/templates/parts/npc-weapon.hbs" weapon=w martialSkills= ../actor.data.martialSkills}}
        {{/each}}
        {{#each ranged as |w|}}
        {{> "systems/burningwheel/templates/parts/npc-weapon.hbs" weapon=w martialSkills= ../actor.data.martialSkills}}
        {{/each}}
    </div>

    <div class="spell-section">
        <div class="npc-section-label">
            Spells
            <i data-action="add" data-type="spell" class="fas fa-plus"></i>
        </div>
        {{#each spells as |s|}}
        {{> "systems/burningwheel/templates/parts/npc-spell.hbs" spell=s skills= ../actor.data.sorcerousSkills}}
        {{/each}}
    </div>

    {{else}}

    <div class="indented-section">
        <span class="npc-section-label">Beliefs</span>
        {{#each beliefs as |b|}}
        {{#if b.data.text}}<span class="item-entry">{{b.data.text}}</span>{{/if}}
        {{/each}}
    </div>
    <div class="indented-section">
        <span class="npc-section-label">Instincts</span>
        {{#each instincts as |i|}}
        {{#if i.data.text}}<span class="item-entry">{{i.data.text}}</span>{{/if}}
        {{/each}}
    </div>
    <div class="indented-section flex-row item-draggable">
        <div class="npc-section-label">Traits</div>
        {{#each traits as |t|}}
        <div class="item-entry" data-id="{{t._id}}" data-action="edit" draggable="true">{{t.name}} [{{titlecase t.data.traittype}}]</div>
        {{/each}}
    </div>
    <div class="indented-section flex-row item-draggable">
        <div class="npc-section-label">Skills</div>
        {{#each skills as |s|}}
        <div class="item-entry {{s.data.cssClass}} modifiable" data-skill-id="{{s._id}}" data-action="rollSkill" draggable="true" data-id="{{s._id}}">{{s.name}}{{#if (eq s.data.exp 0)}}{{else}} [{{s.data.shade}}{{s.data.exp}}]{{/if}}</div>
        {{/each}}
    </div>
    {{#if untrained}}
    <div class="indented-section flex-row item-draggable">
        <div class="npc-section-label">Untrained Tests</div>
        {{#each untrained as |s|}}
        <div class="item-entry modifiable" data-skill-id="{{s._id}}" data-action="rollSkill" draggable="true" data-id="{{s._id}}">{{s.name}}</div>
        {{/each}}
    </div>
    {{/if}}
    {{#if affiliations}}
    <div class="indented-section flex-row item-draggable">
        <div class="npc-section-label">Affiliations</div>
        {{#each affiliations as |a|}}
        <div class="item-entry" data-id="{{a._id}}" data-action="edit" draggable="true">{{a.data.dice}}D {{a.name}}</div>
        {{/each}}
    </div>
    {{/if}}
    {{#if relationships}}
    <div class="indented-section flex-row item-draggable">
        <div class="npc-section-label">Relationships</div>
        {{#each relationships as |r|}}
        <div class="item-entry" data-id="{{r._id}}" data-action="edit" draggable="true">{{r.name}}</div>
        {{/each}}
    </div>
    {{/if}}
    {{#if reputations}}
    <div class="indented-section flex-row item-draggable">
        <div class="npc-section-label">Reputations</div>
        {{#each reputations as |r|}}
        <div class="item-entry" data-id="{{r._id}}" data-action="edit" draggable="true">{{r.data.dice}}D {{r.name}}</div>
        {{/each}}
    </div>
    {{/if}}
    <div class="indented-section flex-row item-draggable">
        <div class="npc-section-label">Gear</div>
        {{#each gear as |g|}}
        <div class="item-entry" data-id="{{g._id}}" data-action="edit" draggable="true">{{g.name}}</div>
        {{/each}}
    </div>
    <div class="indented-section flex-row">
        <div class="npc-section-label">Weapons</div>
        {{#each weapons as |w|}}
        {{#each w.data.attacks as |a|}}
        <div class="item-entry wide modifiable melee-draggable" data-action="rollWeapon" data-skill-id="{{../data.skillId}}" data-weapon-id="{{../_id}}" data-attack-index="{{@key}}" data-id="{{../_id}}" draggable="true">
            {{../name}} {{a.attackName}}— I:{{clampWound ../data.shade a.incidental}} M:{{clampWound ../data.shade a.mark}} S: {{clampWound ../data.shade a.superb}}, Add {{a.add}}, VA {{a.vsArmor}}, WS {{a.weaponSpeed}}, {{a.weaponLength}}</div>
        {{/each}}
        {{/each}}
        {{#each ranged as |w|}}
        <div class="item-entry wide modifiable ranged-draggable" data-action="rollWeapon" data-skill-id="{{w.data.skillId}}" data-weapon-id="{{w._id}}" data-id="{{w._id}}" draggable="true">
            {{w.name}} — I:{{clampWound w.data.shade w.data.incidental}} M:{{clampWound w.data.shade w.data.mark}} S: {{clampWound w.data.shade w.data.superb}}, VA {{w.data.vsArmor}}, Opt: {{w.data.optimalRange}}D, Extr: {{w.data.extremeRange}}D</div>
        {{/each}}
    </div>
    {{#if (or armor.head armor.torso armor.leftArm armor.rightArm (or armor.leftLeg armor.rightLeg armor.shield))}}
    <div class="indented-section flex-row">
        <div class="npc-section-label">Armor</div>
        {{#if armor.head}}
        <div class="item-entry" data-action="rollArmor" data-item-id="{{armor.head._id}}" data-location="Helm">
            Helm: {{sub armor.head.data.dice armor.head.data.damageHelm}}D</div>
        {{/if}}
        {{#if armor.torso}}
        <div class="item-entry" data-action="rollArmor" data-item-id="{{armor.torso._id}}" data-location="Torso">
            Torso: {{plusone (sub armor.torso.data.dice armor.torso.data.damageTorso)}}D</div>
        {{/if}}
        {{#if armor.leftArm}}
        <div class="item-entry" data-action="rollArmor" data-item-id="{{armor.leftArm._id}}" data-location="LeftArm">
            Left Arm: {{sub armor.leftArm.data.dice armor.leftArm.data.damageLeftArm}}D</div>
        {{/if}}
        {{#if armor.rightArm}}
        <div class="item-entry" data-action="rollArmor" data-item-id="{{armor.rightArm._id}}" data-location="RightArm">
            Right Arm: {{sub armor.rightArm.data.dice armor.rightArm.data.damageRightArm}}D</div>
        {{/if}}
        {{#if armor.leftLeg}}
        <div class="item-entry" data-action="rollArmor" data-item-id="{{armor.leftLeg._id}}" data-location="LeftLeg">
            Left Leg: {{sub armor.leftLeg.data.dice armor.leftArm.data.damageLeftLeg}}D</div>
        {{/if}}
        {{#if armor.rightLeg}}
        <div class="item-entry" data-action="rollArmor" data-item-id="{{armor.rightLeg._id}}" data-location="RightLeg">
            Right Leg: {{sub armor.rightLeg.data.dice armor.rightArm.data.damageRightLeg}}D</div>
        {{/if}}
        {{#if armor.shield}}
        <div class="item-entry" data-action="rollArmor" data-item-id="{{armor.shield._id}}" data-location="Shield">
            Shield: {{sub armor.shield.data.dice armor.shield.data.damageRightLeg}}D</div>
        {{/if}}
    </div>
    {{/if}}
    {{#if spells}}
    <div class="indented-section flex-row item-draggable">
        <div class="npc-section-label">Spells</div>
        {{#each spells as |s|}}
        <div class="item-entry modifiable" data-action="rollSpell" data-skill-id="{{s.data.skillId}}" data-spell-id="{{s._id}}" data-id="{{s._id}}" draggable="true">{{s.name}}</div>
        {{/each}}
    </div>
    {{/if}} <!-- spells -->
    {{/if}} <!-- !data.editMode -->
    {{/if}} <!-- isObserver -->
</form>