<form autocomplete="off" class="armor-sheet">
    <input name="name" class="item-sheet-name" type="text" value="{{item.name}}">
    <div class="item-form-group">
        <label for="{{item._id}}-number-dice" class="item-setting-label">Armor Dice</label>
        <input id="{{item._id}}-number-dice" type="number" class="exponent" name="data.dice" value="{{data.dice}}">
        
        <label for="{{item._id}}-checkbox-equipped" class="item-setting-label">Equipped</label>
        <input id="{{item._id}}-checkbox-equipped" type="checkbox" name="data.equipped" {{ checked data.equipped}}>
        
        <label for="{{item._id}}-select-quality" class="item-setting-label">Armor Quality</label>
        <select id="{{item._id}}-select-quality" name="data.quality" value="{{data.quality}}">
            {{#select data.quality}}
            {{#each armorQuality as |title value|}}
            <option value="{{value}}">{{title}}</option>
            {{/each}}
            {{/select}}
        </select>
        
        <label for="{{item._id}}-select-shade" class="item-setting-label">Shade</label>
        <select id="{{item._id}}-select-shade" name="data.shade" value="{{data.shade}}">
            {{#select data.shade}}
            <option value="B">Black</option>
            <option value="G">Grey</option>
            <option value="W">White</option>
            {{/select}}
        </select>
        
        <label for="{{item._id}}-select-untrained" class="item-setting-label">Untrained Penalty Type</label>
        <select id="{{item._id}}-select-untrained" name="data.untrainedPenalty" value="{{data.untrainedPenalty}}">
            {{#select data.untrainedPenalty}}
            <option value="none">None</option>
            <option value="light">Light</option>
            <option value="heavy">Heavy</option>
            <option value="plate">Plate</option>
            {{/select}}
        </select>

        <label for="{{item._id}}-point-cost" class="item-setting-label">Resource Point Cost</label>
        <input id="{{item._id}}-point-cost" type="number" class="exponent" name="data.pointCost" value="{{data.pointCost}}" data-dtype="Number">

    </div>
    <hr/>
    <div class="flex-column">
        <div class="armor-location-group flex-row">
            <input type="checkbox" class="hidden armor-location-checkbox" id="{{item._id}}-checkbox-has-helm" name="data.hasHelm" {{checked data.hasHelm}}>
            <div class="armor-location-selection flex-column">
                <input type="checkbox" class="hidden armor-location-checkbox" {{checked data.hasHelm}}>
                <label for="{{item._id}}-checkbox-has-helm" class="armor-location-label">Has Helm</label>
            </div>
            <div class="armor-location-details input-grid">
                <div >
                    <input id="{{item._id}}-damageHelm" type="number" name="data.damageHelm" value="{{data.damageHelm}}" placeholder="0">
                    <label for="{{item._id}}-damageHelm">Helm Damage</label>
                </div>
                <div >
                    <input id="{{item._id}}-perceptionObservationPenalty" type="number" name="data.perceptionObservationPenalty" value="{{data.perceptionObservationPenalty}}" placeholder="0">
                    <label for="{{item._id}}-perceptionObservationPenalty">Perception/Observation Penalty</label>
                </div>
            </div>
        </div>
        <div class="armor-location-group flex-row">
            <input type="checkbox" class="hidden armor-location-checkbox" id="{{item._id}}-checkbox-has-torso" name="data.hasTorso" {{checked data.hasTorso}}>
            <div class="armor-location-selection flex-column">
                <input type="checkbox" class="hidden armor-location-checkbox" {{checked data.hasTorso}}>
                <label for="{{item._id}}-checkbox-has-torso" class="armor-location-label">Has Torso</label>
            </div>
            <div class="armor-location-details input-grid">
                <div>
                    <input id="{{item._id}}-damageTorso" type="number" name="data.damageTorso" value="{{data.damageTorso}}" placeholder="0">
                    <label for="{{item._id}}-damageTorso">Torso Damage</label>
                </div>
                <div>
                    <input id="{{item._id}}-healthFortePenalty" type="number" name="data.healthFortePenalty" value="{{data.healthFortePenalty}}" placeholder="0">
                    <label for="{{item._id}}-healthFortePenalty">Health/Forte Fatigue Penalty</label>
                </div>
                <div class="clumsy-entry armor-torso">
                    <input id="{{item._id}}-stealthyPenalty" type="number" name="data.stealthyPenalty" value="{{data.stealthyPenalty}}" placeholder="0">
                    <label for="{{item._id}}-stealthyPenalty">Stealthy Penalty</label>
                </div>
            </div>
        </div>
        <div class="armor-location-group flex-row">
            <input type="checkbox" class="hidden armor-location-checkbox armor-checkbox-left" id="{{item._id}}-checkbox-has-left-arm" name="data.hasLeftArm" {{checked data.hasLeftArm}}>
            <input type="checkbox" class="hidden armor-location-checkbox armor-checkbox-right" id="{{item._id}}-checkbox-has-right-arm" name="data.hasRightArm" {{checked data.hasRightArm}}>
            <div class="armor-location-selection flex-column">
                <input type="checkbox" class="hidden armor-location-checkbox" {{checked data.hasLeftArm}}>
                <label for="{{item._id}}-checkbox-has-left-arm" class="armor-location-label">Has Left Arm</label>
                <input type="checkbox" class="hidden armor-location-checkbox" {{checked data.hasRightArm}}>
                <label for="{{item._id}}-checkbox-has-right-arm" class="armor-location-label">Has Right Arm</label>
            </div>
            <div class="armor-location-details input-grid">
                <div class="armor-damage-left">
                    <input id="{{item._id}}-damageLeftArm" type="number" name="data.damageLeftArm" value="{{data.damageLeftArm}}" placeholder="0">
                    <label for="{{item._id}}-damageLeftArm">Left Arm Damage</label>
                </div>
                <div class="armor-damage-right">
                    <input id="{{item._id}}-damageRightArm" type="number" name="data.damageRightArm" value="{{data.damageRightArm}}" placeholder="0">
                    <label for="{{item._id}}-damageRightArm">Right Arm Damage</label>
                </div>
                <div>
                    <input id="{{item._id}}-agilityPenalty" type="number" name="data.agilityPenalty" value="{{data.agilityPenalty}}" placeholder="0">
                    <label for="{{item._id}}-agilityPenalty">Agility Penalty</label>
                </div>
                <div>
                    <input id="{{item._id}}-throwingShootingPenalty" type="number" name="data.throwingShootingPenalty" value="{{data.throwingShootingPenalty}}" placeholder="0">
                    <label for="{{item._id}}-throwingShootingPenalty">Throwing/Shooting Penalty</label>
                </div>
            </div>
        </div>
        <div class="armor-location-group flex-row">
            <input type="checkbox" class="hidden armor-location-checkbox armor-checkbox-left" id="{{item._id}}-checkbox-has-left-leg" name="data.hasLeftLeg" {{checked data.hasLeftLeg}}>
            <input type="checkbox" class="hidden armor-location-checkbox armor-checkbox-right" id="{{item._id}}-checkbox-has-right-leg" name="data.hasRightLeg" {{checked data.hasRightLeg}}>
            <div class="armor-location-selection flex-column">
                <input type="checkbox" class="hidden armor-location-checkbox" {{checked data.hasLeftLeg}}>
                <label for="{{item._id}}-checkbox-has-left-leg" class="armor-location-label">Has Left Leg</label>
                <input type="checkbox" class="hidden armor-location-checkbox" {{checked data.hasRightLeg}}>
                <label for="{{item._id}}-checkbox-has-right-leg" class="armor-location-label">Has Right Leg</label>
            </div>
            <div class="armor-location-details input-grid">
                <div class="armor-damage-left">
                    <input id="{{item._id}}-damageLeftLeg" type="number" name="data.damageLeftLeg" value="{{data.damageLeftLeg}}" placeholder="0">
                    <label for="{{item._id}}-damageLeftLeg">Left Leg Damage</label>
                </div>
                <div class="armor-damage-right">
                    <input id="{{item._id}}-damageRightLeg" type="number" name="data.damageRightLeg" value="{{data.damageRightLeg}}" placeholder="0">
                    <label for="{{item._id}}-damageRightLeg">Right Leg Damage</label>
                </div>
                <div>
                    <input id="{{item._id}}-speedObPenalty" type="number" name="data.speedObPenalty" value="{{data.speedObPenalty}}" placeholder="0">
                    <label for="{{item._id}}-speedObPenalty">Speed Obstacle Penalty</label>
                </div>
                <div>
                    <input id="{{item._id}}-speedDiePenalty" type="number" name="data.speedDiePenalty" value="{{data.speedDiePenalty}}" placeholder="0">
                    <label for="{{item._id}}-speedDiePenalty">Speed Die Penalty</label>
                </div>
                <div>
                    <input id="{{item._id}}-climbingPenalty" type="number" name="data.climbingPenalty" value="{{data.climbingPenalty}}" placeholder="0">
                    <label for="{{item._id}}-climbingPenalty">Climbing Penalty</label>
                </div>
                <div>
                    <input id="{{item._id}}-swimmingPenalty" type="number" name="data.swimmingPenalty" value="{{data.swimmingPenalty}}" placeholder="0">
                    <label for="{{item._id}}-swimmingPenalty">Swimming Penalty</label>
                </div>
            </div>
        </div>
        <div class="armor-location-group flex-row">
            <input type="checkbox" class="hidden armor-location-checkbox" id="{{item._id}}-checkbox-has-shield" name="data.hasShield" {{checked data.hasShield}}>
            <div class="armor-location-selection flex-column">
                <input type="checkbox" class="hidden armor-location-checkbox" {{checked data.hasShield}}>
                <label for="{{item._id}}-checkbox-has-shield" class="armor-location-label">Has Shield</label>
            </div>
            <div class="armor-location-details input-grid">
                <div >
                    <input id="{{item._id}}-damageShield" type="number" name="data.damageShield" value="{{data.damageShield}}" placeholder="0">
                    <label for="{{item._id}}-damageShield">Shield Damage</label>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <textarea name="data.description">{{data.description}}</textarea>
</form>
