<form autocomplete="off" class="flex-column">
    <div class="flex-row">
        <input name="name" type="text" value="{{item.name}}" class="item-sheet-name">
    </div>
    <div class="artha-spent flex-row">
        <label>{{localize "BW.belief.fateSpent"}}</label>
        <input type="number" name="system.fateSpent" value="{{system.fateSpent}}" min="0" placeholder="F">
        <label>{{localize "BW.belief.personaSpent"}}</label>
        <input type="number" name="system.personaSpent" value="{{system.personaSpent}}" min="0" placeholder="P">
        <label>{{localize "BW.belief.deedsSpent"}}</label>
        <input type="number" name="system.deedsSpent" value="{{system.deedsSpent}}" min="0" placeholder="D">
    </div>
    <hr>
    <textarea name="system.text">{{system.text}}</textarea>
</form>
