<form autocomplete="off" class="flex-column">
    <div class="flex-row">
        <input name="name" type="text" value="{{item.name}}" class="item-sheet-name">
    </div>
    <div class="artha-spent flex-row">
        <label>Fate Spent</label>
        <input type="number" name="data.fateSpent" value="{{data.fateSpent}}" min="0" placeholder="F">
        <label>Persona Spent</label>
        <input type="number" name="data.personaSpent" value="{{data.personaSpent}}" min="0" placeholder="P">
        <label>Deeds Spent</label>
        <input type="number" name="data.deedsSpent" value="{{data.deedsSpent}}" min="0" placeholder="D">
    </div>
    <hr>
    <textarea name="data.text">{{data.text}}</textarea>
</form>
