<form autocomplete="off" class="flex-column lifepath-sheet">
    <div class="flex-row">
        {{#if showImage}}
        <img class="item-image" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
        {{/if}}
        <input name="name" type="text" value="{{item.name}}" class="item-sheet-name">
    </div>
    <div class="item-form-group">
        <label class="item-setting-label">
            Time
        </label>
        <input type="number" name="data.time" value="{{data.time}}">
        <label class="item-setting-label">
            Resources
        </label>
        <input type="number" name="data.resources" value="{{data.resources}}">
        <label class="item-setting-label">
            Stat Boost
        </label>
        <select name="data.statBoost" value="{{data.statBoost}}" >
            {{#select data.statBoost}}
            <option value="none">None</option>
            <option value="mental">Mental</option>
            <option value="physical">Physical</option>
            <option value="either">Either</option>
            <option value="both">Both</option>
            {{/select}}
        </select>
        <div class="pill-toggle min-content">
            <input id="{{item._id}}-sub-stats" type="checkbox" class="item-setting-checkbox hidden" name="data.subtractStats" {{checked data.subtractStats}}>
            <label for="{{item._id}}-sub-stats" class="item-setting-toggle">Subtract Stats</label>
        </div>
        <div></div>
        <label class="item-setting-label">
            Leads
        </label>
        <input type="text" name="data.leads" value="{{data.leads}}" class="triple-wide">
        <label class="item-setting-label">
            Skill Points
        </label>
        <input type="number" name="data.skillPoints" value="{{data.skillPoints}}">
        <label class="item-setting-label">
            General Points
        </label>
        <input type="number" name="data.generalPoints" value="{{data.generalPoints}}">
    </div>
    <label class="item-list-label">Skill List</label>
    <textarea name="data.skillList">{{data.skillList}}</textarea>
    <hr>
    <div class="item-form-group">
        <label class="item-setting-label">
            Trait Points
        </label>
        <input type="number" name="data.traitPoints" value="{{data.traitPoints}}">
    </div>
    <label class="item-list-label">Trait List</label>
    <textarea name="data.traitList">{{data.traitList}}</textarea>
    <hr>
    <label class="item-list-label">Restrictions</label>
    <textarea name="data.restrictions">{{data.restrictions}}</textarea>
    <hr>
    <label class="item-list-label">Requirements</label>
    <textarea name="data.requirements">{{data.requirements}}</textarea>
    <label class="item-list-label">Note</label>
    <textarea name="data.note">{{data.note}}</textarea>
</form>