<form autocomplete="off" class="melee-weapon-sheet flex-column">
    <div class="flex-row">
        {{#if showImage}}
        <img class="item-image" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
        {{/if}}
        <input name="name" type="text" value="{{item.name}}" class="item-sheet-name">
    </div>
    <h2>Stats</h2>
    <div class="item-form-group">
        <label for="{{item._id}}-select-shade" class="item-setting-label">Shade</label>
        <select id="{{item._id}}-select-shade" name="data.shade" value="{{data.shade}}">
            {{#select data.shade}}
            <option value="B">Black</option>
            <option value="G">Grey</option>
            <option value="W">White</option>
            {{/select}}
        </select>

        <label for="{{item._id}}-select-quality" class="item-setting-label">Weapon Quality</label>
        <select id="{{item._id}}-select-quality" name="data.quality" value="{{data.quality}}">
            {{#select data.quality}}
            {{#each weaponQualities as |title value|}}
            <option value="{{value}}">{{title}}</option>
            {{/each}}
            {{/select}}
        </select>

        <label for="{{item._id}}-select-handedness" class="item-setting-label">Handedness</label>
        <select id="{{item._id}}-select-handedness" name="data.handedness" value="{{data.handedness}}">
            {{#select data.handedness}}
            <option value="one">One-handed</option>
            <option value="two">Two-handed</option>
            {{/select}}
        </select>
            
        <label for="{{item._id}}-point-cost" class="item-setting-label">Resource Point Cost</label>
        <input id="{{item._id}}-point-cost" type="number" name="data.pointCost" value="{{data.pointCost}}" class="exponent no-arrows wide" data-dtype="Number">
    </div>
    
    <hr/>
    <h2>Attacks</h2>
    <div class="weapon-attack-row">
        <div class="attack-grid-header">Name</div>
        <div class="attack-grid-header">Pow</div>
        <div class="attack-grid-header">Add</div>
        <div class="attack-grid-header">Va</div>
        <div class="attack-grid-header">Ws</div>
        <div class="attack-grid-header">Length</div>
        <div><i class="fas fa-plus"></i></div>
        {{#each data.attacks}}
            <input type="text" name="data.attacks.{{@key}}.attackName" value="{{this.attackName}}" placeholder="Default">
            <input type="number" class="exponent" name="data.attacks.{{@key}}.power" value="{{this.power}}" data-dtype="Number">
            <input type="number" class="exponent" name="data.attacks.{{@key}}.add" value="{{this.add}}" data-dtype="Number">
            <input type="number" class="exponent" name="data.attacks.{{@key}}.vsArmor" value="{{this.vsArmor}}" data-dtype="Number">
            <select name="data.attacks.{{@key}}.weaponSpeed">
                {{#select this.weaponSpeed}}
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="X">X</option>
                {{/select}}
            </select>
            <select name="data.attacks.{{@key}}.weaponLength">
                {{#select this.weaponLength}}
                {{#each ../weaponLengths as |title value|}}
                <option value="{{value}}">{{title}}</option>
                {{/each}}
                {{/select}}
            </select>
            <div><i class="fas fa-minus" data-index="{{@key}}"></i></div>
        {{/each}}
    </div>
    <hr>
    <textarea name="data.description">{{data.description}}</textarea>
</form>
