<form autocomplete="off" class="melee-weapon-sheet flex-column">
    <div class="flex-row">
        {{#if showImage}}
        <img class="item-image" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
        {{/if}}
        <input name="name" type="text" value="{{item.name}}" class="item-sheet-name">
    </div>
    <h2>{{localize "BW.weapon.stats"}}</h2>
    <div class="item-form-group">
        <label for="{{item.id}}-select-shade" class="item-setting-label">{{localize "BW.shade"}}</label>
        <select id="{{item.id}}-select-shade" name="system.shade" value="{{system.shade}}">
            {{selectOptions shades selected=system.shade localize=true}}
        </select>

        <label for="{{item.id}}-select-quality" class="item-setting-label">{{localize "BW.weapon.quality"}}</label>
        <select id="{{item.id}}-select-quality" name="system.quality" value="{{system.quality}}">
            {{selectOptions weaponQualities localize=true  selected=system.quality}}
        </select>

        <label for="{{item.id}}-select-handedness" class="item-setting-label">{{localize "BW.weapon.handedness"}}</label>
        <select id="{{item.id}}-select-handedness" name="system.handedness" value="{{system.handedness}}">
            {{selectOptions handednessOptions selected=system.handedness localize=true}}
        </select>
            
        <label for="{{item.id}}-point-cost" class="item-setting-label">{{localize "BW.rpCost"}}</label>
        <input id="{{item.id}}-point-cost" type="number" name="system.pointCost" value="{{system.pointCost}}" class="exponent no-arrows wide" data-dtype="Number">
    </div>
    
    <hr/>
    <h2>{{localize "BW.weapon.attacks"}}</h2>
    <div class="weapon-attack-row">
        <div class="attack-grid-header">{{localize "BW.weapon.name"}}</div>
        <div class="attack-grid-header">{{localize "BW.weapon.powerAcronym"}}</div>
        <div class="attack-grid-header">{{localize "BW.weapon.addAcronym"}}</div>
        <div class="attack-grid-header">{{localize "BW.weapon.vsArmorAcronym"}}</div>
        <div class="attack-grid-header">{{localize "BW.weapon.speedAcronym"}}</div>
        <div class="attack-grid-header">{{localize "BW.weapon.length"}}</div>
        <div><i class="fas fa-plus" aria-label="add new attack" role="button"></i></div>
        {{#each system.attacks}}
            <input
                aria-label="attack {{@key}} name"
                type="text"
                name="system.attacks.{{@key}}.attackName"
                value="{{this.attackName}}"
                placeholder="{{localize "BW.weapon.default"}}">
            <input
                aria-label="attack {{@key}} power"
                type="number"
                class="exponent"
                name="system.attacks.{{@key}}.power"
                value="{{this.power}}"
                data-dtype="Number">
            <input
                aria-label="attack {{@key}} add"
                type="number"
                class="exponent"
                name="system.attacks.{{@key}}.add"
                value="{{this.add}}"
                data-dtype="Number">
            <input
                aria-label="attack {{@key}} va"
                type="number"
                class="exponent"
                name="system.attacks.{{@key}}.vsArmor"
                value="{{this.vsArmor}}"
                data-dtype="Number">
            <select
                aria-label="attack {{@key}} speed"
                name="system.attacks.{{@key}}.weaponSpeed">
                {{selectOptions ../speeds selected=this.weaponSpeed}}
            </select>
            <select
                aria-label="attack {{@key}} length"
                name="system.attacks.{{@key}}.weaponLength">
                {{selectOptions ../weaponLengths selected=this.weaponLength localize=true}}
            </select>
            <div>
                <i
                    class="fas fa-minus"
                    data-index="{{@key}}"
                    aria-label="delete attack {{@key}}"
                    role="button"></i>
            </div>
        {{/each}}
    </div>
    <hr>
    <textarea name="system.description">{{system.description}}</textarea>
</form>
