<form autocomplete="off" class="relationship-sheet flex-column">
    <input id="{{item._id}}-name-input" type="text" value="{{item.name}}" name="name" class="item-sheet-name">
    <div class="checkbox-grid">
        <input id="{{item._id}}-checkbox-forbidden" type="checkbox" name="data.forbidden" {{checked data.forbidden}}>
        <label for="{{item._id}}-checkbox-forbidden">Forbidden</label>
        <input id="{{item._id}}-checkbox-immediateFamily" type="checkbox" name="data.immediateFamily" {{checked data.immediateFamily}}>
        <label for="{{item._id}}-checkbox-immediateFamily">Immediate Family</label>
        <input id="{{item._id}}-checkbox-otherFamily" type="checkbox" name="data.otherFamily" {{checked data.otherFamily}}>
        <label for="{{item._id}}-checkbox-otherFamily">Other Family</label>
        <input id="{{item._id}}-checkbox-romantic" type="checkbox" name="data.romantic" {{checked data.romantic}}>
        <label for="{{item._id}}-checkbox-romantic">Romantic</label>
        <input id="{{item._id}}-checkbox-hateful" type="checkbox" name="data.hateful" {{checked data.hateful}}>
        <label for="{{item._id}}-checkbox-hateful">Hateful/Rival</label>
    </div>
    <hr/>
    <div class="checkbox-grid">
        <input id="{{item._id}}-checkbox-building" type="checkbox" name="data.building" {{checked data.building}}>
        <label for="{{item._id}}-checkbox-building" title="Relationship being built through multiple circles tests.">Building</label>
        <input id="{{item._id}}-checkbox-enmity" type="checkbox" name="data.enmity" {{checked data.enmity}}>
        <label for="{{item._id}}-checkbox-enmity">Enmity Clause</label>
    </div>
    <hr/>
    <textarea name="data.description">{{data.description}}</textarea>
</form>
