<form autocomplete="off" class="flex-column">
    <div class="flex-row">
        {{#if showImage}}
        <img class="item-image" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
        {{/if}}
        <input name="name" type="text" value="{{item.name}}" class="item-sheet-name">
    </div>
    <div class="item-form-group">
        <div class="item-setting-label">{{localize "BW.dice"}}</div>
        <select name="system.dice" value="{{system.dice}}" data-dtype="Number">
            {{#select system.dice}}
            <option value="0">{{localize "BW.none"}}</option>
            <option value="1">1{{localize "BW.diceAcronym"}}</option>
            <option value="2">2{{localize "BW.diceAcronym"}}</option>
            <option value="3">3{{localize "BW.diceAcronym"}}</option>
            {{/select}}
        </select>
        <div class="pill-toggle">
            <input id="{{item.id}}-checkbox-infamous" type="checkbox" name="system.infamous" {{checked system.infamous}}>
            <label for="{{item.id}}-checkbox-infamous">{{localize "BW.infamous"}}</label>
        </div>
    </div>
    <hr>
    <textarea name="system.description">{{system.description}}</textarea>
</form>
