<form autocomplete='off' class='flex-column'>
    <div class='flex-row'>
        {{#if showImage}}
            <img
                class='item-image'
                src='{{item.img}}'
                title='{{item.name}}'
                data-edit='img'
            />
        {{/if}}
        <input
            name='name'
            type='text'
            value='{{item.name}}'
            class='item-sheet-name'
        />
    </div>
    <div class='item-form-group'>
        <div class='item-setting-label'>{{localize 'BW.dice'}}</div>
        <select name='system.dice' value='{{system.dice}}' data-dtype='Number'>
            {{selectOptions diceOptions localize=true selected=system.dice}}
        </select>
        <div class='pill-toggle'>
            <input
                id='{{item.id}}-checkbox-infamous'
                type='checkbox'
                name='system.infamous'
                {{checked system.infamous}}
            />
            <label for='{{item.id}}-checkbox-infamous'>{{localize
                    'BW.infamous'
                }}</label>
        </div>
    </div>
    <hr />
    <textarea name='system.description'>{{system.description}}</textarea>
</form>