<div class="learning flex-row" draggable="true" data-id="{{skill.id}}">
    <i class="fas fa-edit item-action-icon" data-action="editItem" data-id="{{skill.id}}"></i>
    <i class="fas fa-trash item-action-icon" data-action="delItem" data-id="{{skill.id}}"></i>
    <h3>{{skill.name}}</h3>
    <button class="rollable modifiable" data-rollable-name="{{skill.name}}" data-skill-id="{{skill.id}}" data-roll-type="learning"><i class="fas fa-dice"></i></button>
    <div class="learning-xp">
        {{#multiboxes skill.data.learningProgress needed=skill.data.aptitude}}
        <input type="radio"
            id="{{skill.data.safeId}}-learningProgress-0"
            value="0" 
            data-item-id="{{skill.id}}"
            data-binding="data.learningProgress">
        <label
            for="{{skill.data.safeId}}-learningProgress-0"
            class="progress-clear">
            <i class="fas fa-times-circle"></i>
        </label>
        <input
            type="radio"
            id="{{skill.data.safeId}}-learningProgress-1"
            value="1" 
            data-item-id="{{skill.id}}"
            data-binding="data.learningProgress">
        <label
            for="{{skill.data.safeId}}-learningProgress-1"
            class="progress-tick progress-tick-1">&nbsp;
        </label>
        <input
            type="radio"
            id="{{skill.data.safeId}}-learningProgress-2"
            value="2" 
            data-item-id="{{skill.id}}"
            data-binding="data.learningProgress">
        <label
            for="{{skill.data.safeId}}-learningProgress-2"
            class="progress-tick progress-tick-2">
            &nbsp;
        </label>
        <input
            type="radio"
            id="{{skill.data.safeId}}-learningProgress-3"
            value="3"
            
            data-item-id="{{skill.id}}"
            data-binding="data.learningProgress"
            >
        <label
            for="{{skill.data.safeId}}-learningProgress-3"
            class="progress-tick progress-tick-3">
            &nbsp;
        </label>
        <input
            type="radio" id="{{skill.data.safeId}}-learningProgress-4"
            value="4" 
            data-item-id="{{skill.id}}"
            data-binding="data.learningProgress">
        <label
            for="{{skill.data.safeId}}-learningProgress-4"
            class="progress-tick progress-tick-4">
            &nbsp;
        </label>
        <input
            type="radio"
            id="{{skill.data.safeId}}-learningProgress-5"
            value="5"
            
            data-item-id="{{skill.id}}"
            data-binding="data.learningProgress">
        <label
            for="{{skill.data.safeId}}-learningProgress-5"
            class="progress-tick progress-tick-5">
            &nbsp;
        </label>
        <input
            type="radio"
            id="{{skill.data.safeId}}-learningProgress-6"
            value="6"
            
            data-item-id="{{skill.id}}"
            data-binding="data.learningProgress">
        <label
            for="{{skill.data.safeId}}-learningProgress-6"
            class="progress-tick progress-tick-6">
            &nbsp;
        </label>
        <input
            type="radio"
            id="{{skill.data.safeId}}-learningProgress-7"
            value="7"
            
            data-item-id="{{skill.id}}"
            data-binding="data.learningProgress">
        <label
            for="{{skill.data.safeId}}-learningProgress-7"
            class="progress-tick progress-tick-7">
            &nbsp;
        </label>
        <input
            type="radio"
            id="{{skill.data.safeId}}-learningProgress-8"
            value="8"
            
            data-item-id="{{skill.id}}"
            data-binding="data.learningProgress">
        <label
            for="{{skill.data.safeId}}-learningProgress-8"
            class="progress-tick progress-tick-8">
            &nbsp;
        </label>
        <input
            type="radio"
            id="{{skill.data.safeId}}-learningProgress-9"
            value="9"
            
            data-item-id="{{skill.id}}"
            data-binding="data.learningProgress">
        <label
            for="{{skill.data.safeId}}-learningProgress-9"
            class="progress-tick progress-tick-9">
            &nbsp;
        </label>
        {{/multiboxes}}
    </div>
</div>