<div class='npc-editable flex-row {{skill.system.cssClass}}'>
    <div
        class='npc-skill-name'
        data-id='{{skill._id}}'
        data-action='edit'
    >{{skill.name}}</div>
    <select data-item-id='{{skill._id}}' data-binding='system.shade'>
        {{selectOptions @root.shades selected=skill.system.shade}}
    </select>
    <input
        type='number'
        data-item-id='{{skill._id}}'
        data-binding='system.exp'
        value='{{skill.system.exp}}'
    />
    <i class='fas fa-trash' data-id='{{skill._id}}' data-action='delete'></i>
</div>