<div class='npc-editable'>
    <div
        class='npc-spell-name'
        data-id='{{spell._id}}'
        data-action='edit'
    >{{spell.name}}</div>
    <select data-item-id='{{spell._id}}' data-binding='system.skillId'>
        {{selectOptions skills selected=spell.system.skillId valueAttr="id" labelAttr="label"}}
    </select>
    <i class='fas fa-trash' data-id='{{spell._id}}' data-action='delete'></i>
</div>