<div>
    <div class="stat-header">{{label}}</div>
    {{#if editMode}}
    <div class="stat-value">
            {{#if attributeShadePath}}
            <select name="data.{{attributeShadePath}}">
                {{#select attributeShade}}
                <option value="B">B</option>
                <option value="G">G</option>
                <option value="W">W</option>
                {{/select}}
            </select>
            {{/if}}
        <input type="number" name="data.{{attributePath}}" data-dtype="Number" value="{{attributeValue}}">
    </div>
    {{else}}
        {{#if rollable}}
        <div
            {{#if open}}data-action="rollStatOpen"
            {{else}}data-action="rollStat"
            {{/if}}
            data-stat="data.{{attributePath}}"
            data-shade="data.{{attributeShadePath}}"
            data-rollable-name="{{statName}}"
            class="stat-value stat-rollable">
        {{else}}
        <div class="stat-value">
        {{/if}}
        {{attributeShade}}{{attributeValue}}
    </div>
    {{/if}}
</div>