<div class='npc-editable'>
    <div
        class='npc-weapon-name'
        data-id='{{weapon._id}}'
        data-action='edit'
    >{{weapon.name}}</div>
    <select data-item-id='{{weapon._id}}' data-binding='system.skillId'>
        {{selectOptions skills selected=weapon.system.skillId valueAttr="id" labelAttr="label"}}
    </select>
    <i class='fas fa-trash' data-id='{{weapon._id}}' data-action='delete'></i>
</div>