<div>
    <div class="ptgs-top">{{localize "BW.ptgs.tolerance"}} {{#if isOwner}}<i class="fas fa-sync-alt" data-action="refresh-ptgs"></i>{{/if}}</div>
    <div class="ptgs-mid">{{localize "BW.ptgs.coordinate"}}</div>
    <div class="ptgs-scale">{{localize "BW.ptgs.injury"}}</div>
</div>
{{#each ptgs as |wound|}}
{{#if wound.threshold}}
<div class="ptgs-wound-column">
    <div class="ptgs-top">
        <select class="ptgs-tolerance" name="system.ptgs.{{@key}}.threshold" value="{{wound.threshold}}">
            {{selectOptions @root.ptgsOptions selected=wound.threshold localize=true}}
        </select>
    </div>
    <div class="ptgs-mid">
        {{../system.mortalWoundShade}}{{plusone @index}}
    </div>
    <div class="ptgs-scale flex-column">
        {{#multiboxes wound.amount}}
        <input type="radio" id="{{../id}}-{{@key}}-0" name="system.ptgs.{{@key}}.amount" value="0" checked="checked">
        <label for="{{../id}}-{{@key}}-0" class="wound-clear"><i class="fas fa-times-circle"></i></label>
        <input type="radio" id="{{../id}}-{{@key}}-1" name="system.ptgs.{{@key}}.amount" value="1">
        <label for="{{../id}}-{{@key}}-1" class="wound-tick wound-tick-1">&nbsp;</label>
        <input type="radio" id="{{../id}}-{{@key}}-2" name="system.ptgs.{{@key}}.amount" value="2">
        <label for="{{../id}}-{{@key}}-2" class="wound-tick wound-tick-2">&nbsp;</label>
        <input type="radio" id="{{../id}}-{{@key}}-3" name="system.ptgs.{{@key}}.amount" value="3">
        <label for="{{../id}}-{{@key}}-3" class="wound-tick wound-tick-3">&nbsp;</label>
        {{/multiboxes}}
    </div>
</div>
{{/if}}
{{/each}}
<div class="ptgs-obpenalty flex-column">
    <h3>{{localize "BW.ptgs.penalty"}}</h3>
    <div class="ptgs-big-number">{{ ptgs.obPenalty }}</div>
    <input type="checkbox" name="system.ptgs.shrugging" disabled {{ checked ptgs.shrugging }}>
    <button type="button" class="rollable modifiable" data-roll-type="shrug">{{localize "BW.ptgs.shrug"}}</button>
</div>
<div class="ptgs-wounddice flex-column">
    <h3>{{localize "BW.ptgs.woundDice"}}</h3>
    <div class="ptgs-big-number">{{ ptgs.woundDice }}</div>
    <input type="checkbox" name="system.ptgs.gritting" {{ checked ptgs.gritting }}>
    <button type="button" class="rollable modifiable" data-roll-type="grit">{{localize "BW.ptgs.grit"}}</button>
</div>
<div class="ptgs-woundnotes1 flex-row">
    <h3>{{localize "BW.ptgs.recovery"}}</h3>
    <div class="recovery-label">{{localize "BW.ptgs.recovered"}}</div>
    <input type="number" name="system.ptgs.woundRecovery1" value="{{ptgs.woundRecovery1}}" min="0">
    <textarea name="system.ptgs.woundNotes1">{{ptgs.woundNotes1}}</textarea>
</div>
<div class="ptgs-woundnotes2 flex-row">
    <h3>{{localize "BW.ptgs.recovery"}}</h3>
    <div class="recovery-label">{{localize "BW.ptgs.recovered"}}</div>
    <input type="number" name="system.ptgs.woundRecovery2" value="{{ptgs.woundRecovery2}}" min="0">
    <textarea name="system.ptgs.woundNotes2">{{ptgs.woundNotes2}}</textarea>
</div>
<div class="ptgs-woundnotes3 flex-row">
    <h3>{{localize "BW.ptgs.recovery"}}</h3>
    <div class="recovery-label">{{localize "BW.ptgs.recovered"}}</div>
    <input type="number" name="system.ptgs.woundRecovery3" value="{{ptgs.woundRecovery3}}" min="0">
    <textarea name="system.ptgs.woundNotes3">{{ptgs.woundNotes3}}</textarea>
</div>
