<div class="rollable flex-row {{stat.cssClass}}" draggable="true" data-accessor="{{namePrefix}}" {{#if customName}}data-stat-name="{{stat.name}}"{{else}}data-stat-name="{{statName}}"{{/if}}>
    <input id="{{actor._id}}-{{namePrefix}}-Toggle" class="collapse-checkbox" type="checkbox" name="{{namePrefix}}.collapsed" {{ checked stat.collapsed}}>
    <label for="{{actor._id}}-{{namePrefix}}-Toggle" class="collapse-label"><i class="fas fa-chevron-circle-down"></i></label>
    {{#if customName }}
    <input type="text" name="{{namePrefix}}.name" value="{{stat.name}}" class="rollable-name">
    {{else}}
    <h3 class="rollable-name">{{ statName }}</h3>
    {{/if}}
    <select class="shade" name="{{namePrefix}}.shade" value="{{stat.shade}}">
        {{#select stat.shade}}
        <option value="B">B</option>
        <option value="G">G</option>
        <option value="W">W</option>
        {{/select}}
    </select>
    <input class="exponent" type="number" name="{{namePrefix}}.exp" value="{{stat.exp}}">
    <button class="rollable modifiable" data-rollable-name="{{statName}}" data-accessor="{{namePrefix}}" data-roll-type="{{type}}"><i class="fas fa-dice"></i></button>
    <div class="collapsing-section">
        {{#if routine}}
        <div class="test-tracking">
            <div class="test-title">Routine: </div>
            <input class="tests-needed" name="{{namePrefix}}.routineNeeded" value="{{stat.routineNeeded}}" disabled>
            {{#multiboxes stat.routine needed=stat.routineNeeded}}
            <input type="radio" id="{{actor._id}}-{{namePrefix}}-routine-0" name="{{namePrefix}}.routine" value="0" checked="checked" data-dtype="Number">
            <label for="{{actor._id}}-{{namePrefix}}-routine-0" class="progress-clear"><i class="fas fa-times-circle"></i></label>
            <input type="radio" id="{{actor._id}}-{{namePrefix}}-routine-1" name="{{namePrefix}}.routine" value="1" data-dtype="Number">
            <label for="{{actor._id}}-{{namePrefix}}-routine-1" class="progress-tick progress-tick-1">&nbsp;</label>
            <input type="radio" id="{{actor._id}}-{{namePrefix}}-routine-2" name="{{namePrefix}}.routine" value="2" data-dtype="Number">
            <label for="{{actor._id}}-{{namePrefix}}-routine-2" class="progress-tick progress-tick-2">&nbsp;</label>
            <input type="radio" id="{{actor._id}}-{{namePrefix}}-routine-3" name="{{namePrefix}}.routine" value="3" data-dtype="Number">
            <label for="{{actor._id}}-{{namePrefix}}-routine-3" class="progress-tick progress-tick-3">&nbsp;</label>
            <input type="radio" id="{{actor._id}}-{{namePrefix}}-routine-4" name="{{namePrefix}}.routine" value="4" data-dtype="Number">
            <label for="{{actor._id}}-{{namePrefix}}-routine-4" class="progress-tick progress-tick-4">&nbsp;</label>
            {{/multiboxes}}
        </div>
        {{/if}}
        <div class="test-tracking">
            <div class="test-title">Difficult:</div>
            <input class="tests-needed" name="{{namePrefix}}.difficultNeeded" value="{{stat.difficultNeeded}}" disabled>
            {{#multiboxes stat.difficult needed=stat.difficultNeeded}}
            <input type="radio" id="{{actor._id}}-{{namePrefix}}-difficult-0" name="{{namePrefix}}.difficult" value="0" checked="checked" data-dtype="Number">
            <label for="{{actor._id}}-{{namePrefix}}-difficult-0" class="progress-clear"><i class="fas fa-times-circle"></i></label>
            <input type="radio" id="{{actor._id}}-{{namePrefix}}-difficult-1" name="{{namePrefix}}.difficult" value="1" data-dtype="Number">
            <label for="{{actor._id}}-{{namePrefix}}-difficult-1" class="progress-tick progress-tick-1">&nbsp;</label>
            <input type="radio" id="{{actor._id}}-{{namePrefix}}-difficult-2" name="{{namePrefix}}.difficult" value="2" data-dtype="Number">
            <label for="{{actor._id}}-{{namePrefix}}-difficult-2" class="progress-tick progress-tick-2">&nbsp;</label>
            <input type="radio" id="{{actor._id}}-{{namePrefix}}-difficult-3" name="{{namePrefix}}.difficult" value="3" data-dtype="Number">
            <label for="{{actor._id}}-{{namePrefix}}-difficult-3" class="progress-tick progress-tick-3">&nbsp;</label>
            <input type="radio" id="{{actor._id}}-{{namePrefix}}-difficult-4" name="{{namePrefix}}.difficult" value="4" data-dtype="Number">
            <label for="{{actor._id}}-{{namePrefix}}-difficult-4" class="progress-tick progress-tick-4">&nbsp;</label>
            {{/multiboxes}}
        </div>
        <div class="test-tracking">
            <div class="test-title">Challenging:</div>
            <input class="tests-needed" name="{{namePrefix}}.challengingNeeded" value="{{stat.challengingNeeded}}" disabled>
            {{#multiboxes stat.challenging needed=stat.challengingNeeded}}
            <input type="radio" id="{{actor._id}}-{{namePrefix}}-challenging-0" name="{{namePrefix}}.challenging" value="0" checked="checked" data-dtype="Number">
            <label for="{{actor._id}}-{{namePrefix}}-challenging-0" class="progress-clear"><i class="fas fa-times-circle"></i></label>
            <input type="radio" id="{{actor._id}}-{{namePrefix}}-challenging-1" name="{{namePrefix}}.challenging" value="1" data-dtype="Number">
            <label for="{{actor._id}}-{{namePrefix}}-challenging-1" class="progress-tick progress-tick-1">&nbsp;</label>
            <input type="radio" id="{{actor._id}}-{{namePrefix}}-challenging-2" name="{{namePrefix}}.challenging" value="2" data-dtype="Number">
            <label for="{{actor._id}}-{{namePrefix}}-challenging-2" class="progress-tick progress-tick-2">&nbsp;</label>
            <input type="radio" id="{{actor._id}}-{{namePrefix}}-challenging-3" name="{{namePrefix}}.challenging" value="3" data-dtype="Number">
            <label for="{{actor._id}}-{{namePrefix}}-challenging-3" class="progress-tick progress-tick-3">&nbsp;</label>
            {{/multiboxes}}
        </div>
        <input type="number" class="circle-input" placeholder="F" title="Fate points spent on {{statName}}" name="{{namePrefix}}.fate" value="{{stat.fate}}">
        <input type="number" class="circle-input" placeholder="P" title="Persona points spent on {{statName}}" name="{{namePrefix}}.persona" value="{{stat.persona}}">
        <input type="number" class="circle-input" placeholder="D" title="Deeds points spent on {{statName}}" name="{{namePrefix}}.deeds" value="{{stat.deeds}}">
        {{#if taxName}}
        <div class="attribute-subrow">
            <label class="attribute-label">Tax</label>
            <input type="number" class="circle-input" value="{{taxValue}}" {{#if taxDisabled}}disabled{{else}}name="{{taxName}}"{{/if}}>
        </div>
        {{/if}}
        <input type="checkbox" class="hidden rollable-open-checkbox" id="{{actor._id}}-{{namePrefix}}-open" name="{{namePrefix}}.open" {{checked stat.open}}>
        <div class="rollable-open-toggle">
            <label for="{{actor._id}}-{{namePrefix}}-open">Open</label>
        </div>
    </div>
</div>