<div class="trait" data-item-id="{{trait.id}}" draggable="true" data-id="{{trait.id}}">
    <h3 class="flex-row">
        <input type="checkbox" id="{{trait.id}}-toggle" class="hidden trait-checkbox" data-item-id="{{trait.id}}" data-binding="data.collapsed" {{ checked trait.data.collapsed }}>
        <label for="{{trait.id}}-toggle">{{ trait.name }}</label>    
        <i class="fas fa-comment" data-action="broadcast" data-id="{{trait.id}}"></i>
        <i class="fas fa-edit" data-action="editItem" data-id="{{trait.id}}"></i>
        <i class="fas fa-trash" data-action="delItem" data-id="{{trait.id}}"></i>
    </h3>
    {{#if trait.data.collapsed}}{{else}}
    <hr>
    <textarea disabled="disabled">{{ trait.data.text }}</textarea>
    {{/if}}
</div>